[2018-10-06 22:53] iljab opened #1 "Error: No connection options were found in any of configurations file."
I have a ormconfig.json in the root of the project, but i get the following error, when i try to run a seed:

Error: No connection options were found in any of configurations file.

The seed is executed in the root too.

[2018-11-10 21:04] bpatram opened #2 "Missing CLI"
Hello, it appears this library is missing the command line utility that https://github.com/LogansUA/typeorm-seed-extension offers. Is there plans to introduce that functionality into this library?

[2018-11-12 15:42] RobinRadic opened #3 "Improve error output"
Errors that occur during seeding are catched. Then a new error is thrown which does not include the original error message/name.

EntityFactory:
[code]

[2018-11-13 08:52] armanfatahi commented on #1
Just a wild shot: If you are running this on a docker container, make sure to copy the config file to the container!

[2018-12-05 10:16] benbender opened #4 "Entity with @Column('simple-array') fails to seed"
Some column-types in typeorm are resolving to objects. For example entitites with column-type "simple-array" failing to seed because the following expression is "true":

https://github.com/w3tecch/typeorm-seeding/blob/9e9c59118a5a4bbc171d3c4eb79e0f15523976ac/src/entity-factory.ts#L90

and the subentity can't be resolved. These issue is even harder to grasp, because the thrown error says simply "Er

[2018-12-14 09:19] ashelkov commented on #4
the same issue with @column({ type: ''json })

[2018-12-19 11:45] jeffersontpadua opened #5 "How do I run it?"
Hey Guys, I loved your aprroach to seeding a database, and I would really like to use it. So here comes a question that may sound a bit stupid, but I just can't figure out how to do it. How do I run my seeds? I have already defined a factory and a class that implements Seed, but how do I make it work? Thanks in advance.

[2018-12-21 01:07] bpatram commented on #5
It seems there was a CLI tool that was removed in this package (#2)

FWIW, I've been using the now deprecated package: https://github.com/LogansUA/typeorm-seed-extension along with some submodule imports to get it working nicely. A bit hacky but it works nevertheless.

[code]

_the above command works for the LogansUA package I linked above, not this package_

[2018-12-21 08:15] jeffersontpadua commented on #5
Oh. I see. Thanks

[2018-12-22 08:48] Rjiegit commented on #5
try this:

[code]

[2019-01-13 15:48] clovis1122 opened #7 "Allow to override faker's attributes in the seed and make methods"
With Laravel factories, you can do this:

[code]

Which is great, because it allows to quickly create many entities with the specified attributes. Right now this is not possible in `typeorm-seeding` and you're forced into writing something like this:

[code]

Or for many users:

[code]

Which feels awkward to do.

Using the `map()` method feels less awkward. For a single key you can get away inlin

[2019-03-04 15:16] agustif commented on #7
I'm not sure about the actual implementation proposed, but I would love a way to seed my own json/yaml files which could be an big or multiple jsons or yaml files, and use it to import my old data to a freshh new postgresql/typeorm dtabase

+1 for that

[2019-03-04 22:27] clovis1122 commented on #7
@agustif, like this? https://github.com/RobinCK/typeorm-fixtures

[2019-03-12 00:31] humbertowoody opened #9 "jsonb type in column throws error"
Hi! I am unable to seed a `jsonb` type of field on a PostgreSQL 10.0 database. The error does not occur during insertion and update queries, only on seeding. This is my model:

[code]

And here is my factory:

[code]

Which throws a:

[code]

Is there a problem on seeding `jsonb` type of columns? Thanks in advance!

[2019-03-18 10:25] maxime-lenne commented on #9
Hi! I have the same issue wit Geojson. The type of my column is Point and typeorm-seeding try to make this sub entity in resolveEntity function.

[2019-06-01 15:15] #4 closed

[2019-06-02 14:19] hirsch88 commented on #3
Hi @RobinRadic I improved the error handling and released a new version 1.0.0-rc.1.
Thanks for reporting

[2019-06-02 14:19] #3 closed

[2019-06-02 14:20] hirsch88 commented on #2
Hi @bpatram I added a cli to use the seeding.
Try the new version 1.0.0-rc.1

[2019-06-02 14:20] #2 closed

[2019-06-02 14:21] hirsch88 commented on #5
I added a cli to use seeding.
Look at the README
https://github.com/w3tecch/typeorm-seeding#-running-seeders

[2019-06-02 14:21] #5 closed

[2019-06-02 14:25] hirsch88 commented on #1
Hi @iljab I use the seeding with the ormconfig.js file, which is in the root of my project.
I added a new cli to the project.
Try the cli and use the config option to tell the cli where the config file is.

[2019-06-02 14:25] #1 closed

[2019-06-02 14:26] hirsch88 commented on #7
Hi @clovis1122 I merged the feature and release a new version, which also include a cli.

[2019-06-02 14:26] #7 closed

[2019-06-02 18:08] agustif opened #10 "import { define } from 'typeorm-seeding'; Error"
Hi @hirsch88 Awesome update, trying to make it work with my project but I get the following mysterious error!

import { define } from 'typeorm-seeding';
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	   **^**
**SyntaxError**: Unexpected token

This is what my code looks like
[code]
I tried also with:
import define from "typeorm-seeding";

or:
import * as define from "typeorm-se

[2019-06-02 18:51] agustif commented on #10
Nevermind, this was due to me running this from my root lerna/yarn workspaces monorepo instead of server/database package.

Now I can't get it to index, but at least it's detecting the factories.

PS: Is there any way to pass the --factories argument in the ormconfig?

[2019-06-02 18:51] #10 closed

[2019-06-08 20:59] bpatram opened #11 "Typeorm should be a peerDependency"
Hi guys, I'm running into an issue in my project where typeorm-seeding is installing its own typeorm library on top of the one I install for my project. This causes some issues, especially surrounding typing in Typescript projects when implementing Seeders.

Typeorm should be listed as a peer-dependency in this library to avoid duplicate Typeorm libs from being installed for end users (like me).

[2019-06-16 12:38] dothem1337 opened #12 "Use with .env"
Hey

Currently it's static, using the ormconfig.js. But I use .env as config. Are there any chance to get this run with .env?

Thank you

[2019-06-21 02:14] jpdesigndev commented on #11
I think `typeorm` should be listed as a peerDependency as well. It would be nice if this happened before 1.0.0 was released.

[2019-06-22 04:24] bpatram opened #14 "Add a changelog"
I would love if we could include a changelog in the repo or release notes within GithHub (my preference is a CHANGELOG.md file). Not only will this help me keep track of library changes as new releases are made, but this will help out with automated tools like Dependabot when embedding changes in PRs it opens.

[2019-06-22 04:54] bpatram commented on #12
Hi @dothem1337,

Are you able to reference your env variables using [`process.env.*`](https://nodejs.org/dist/latest-v12.x/docs/api/process.html#process_process_env)?

If you are using the [dotenv package](https://github.com/motdotla/dotenv) I think you would invoke the CLI like this:

[code]

Example configuration file:
[code]

[2019-06-22 05:00] bpatram commented on #12
Looking at this again, I'm guessing you are referencing this functionality provided by TypeORM: https://github.com/typeorm/typeorm/blob/master/docs/using-ormconfig.md#using-environment-variables _(sorry, I don't use this functionality, but I thought this was an interesting issue 😉)_

To the maintainers of this library:
I think to get this support you'll want to use the `ConnectionOptionsReader` cl

[2019-06-24 19:09] sgarner commented on #12
Using TypeORM's provided `ConnectionOptionsReader` would also enable support for configuration in YAML format which is currently broken. 🙁

[2019-07-03 06:52] koheiiwamura opened #15 "import { Seed } Error"

[2019-07-03 06:57] koheiiwamura commented on #15
Hi.

I installed typeorm-seeding (version "1.0.0-rc.3").

and import modules for seeding data in database.
But this error was happened.

<img width="1182" alt="スクリーンショット 2019-07-03 15 54 29" src="https://user-images.githubusercontent.com/20556861/60569768-117ec580-9dab-11e9-8443-b4a826240134.png">

[code]

I can import `Factory`, but I can't import `Seed`

[2019-07-05 17:10] iquabius commented on #15
The API has changed in [this commit](https://github.com/w3tecch/typeorm-seeding/commit/84df81147db14f96311b593bc2575b15f472088d). The interface is now called `Seeder`.

[2019-07-15 13:32] billbarni commented on #12
I updated this package on the 'express-typescript-boilerplate' and several classes in the 'seed.ts' can't be used anymore.

[2019-07-31 10:51] HackAfro opened #17 "README is outdated"
The README seems to be outdated. The seeder examples still extends `Seed` rather than `Seeder` and uses the `seed` method rather than `run`. I think this should be updated as it  seems to be a bit confusing.

I could send a PR to update it

[2019-09-11 03:19] mreschke commented on #15
Because of this your Docs and example project https://github.com/w3tecch/express-typescript-boilerplate are broken and invalid

[2019-09-14 18:02] chasen-bettinger commented on #11
Thanks @bpatram . This worked for me :)

[2019-09-25 18:13] endurance commented on #15
That's a pretty big deal, this change makes the library look like it isn't ready for production use.

[2019-10-19 18:04] hirsch88 commented on #4
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typeorm-seeding)
- [GitHub release](https://github.com/w3tecch/typeorm-seeding/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-19 19:15] hirsch88 commented on #17
Updated the README

[2019-10-19 19:15] #17 closed

[2019-10-19 19:17] #15 closed

[2019-10-19 19:18] hirsch88 commented on #14
I added sematic-release, which will autogenerate the github releases.

[2019-10-19 19:18] #14 closed

[2019-10-19 19:31] hirsch88 commented on #11
Done with https://github.com/w3tecch/typeorm-seeding/pull/22

[2019-10-19 19:31] #11 closed

[2019-11-07 09:50] codeinaire opened #23 "FactoryInterface is not found"
I'm attempting to use this example:

[code]
But there doesn't appear to be a `FactoryInterface` nor does the `Factory` type appear to have `.getConnection()` on it.

Is this a typo in the README? Or something else?

[2019-12-01 17:53] kKen94 opened #27 "ormconfig with multiple connection [Blocking issue]"
Hi.

If ormconfig is set for multiple-environment seeds throw error, while application starts normally

![image](https://user-images.githubusercontent.com/46461611/69917917-b9d4ab00-146b-11ea-819c-40de99111098.png)

![image](https://user-images.githubusercontent.com/46461611/69917920-cf49d500-146b-11ea-850e-61a0ac4d78ea.png)

[2019-12-07 22:33] betiol commented on #27
Same problem here :/
@kKen94 you already solved this issue?

[2019-12-08 03:35] kKen94 commented on #27
Nope, and no one answers me 🤔

[2019-12-08 20:17] betiol commented on #27
bro, I've just added this lines to support multiple connections and I'm using this in my projects;
[see here](https://github.com/betiol/typeorm-seeding/blob/293eec2136ad24690c5ae00fca2d4b45364ab8f6/src/commands/seed.command.ts#L42)

You can use.
```"typeorm-seeding": "betiol/typeorm-seeding"```

[2019-12-08 20:26] kKen94 commented on #27
Cool!! Can you make a pull request to original repo?

[2019-12-12 16:10] vuk-nikolic commented on #1
I know it's an old issue, but to confirm that adding --config helped me.
Thanks!

[2020-01-04 19:48] Shub1427 opened #29 "Module aliases are not resolved"
Getting error: `Error: Cannot find module '{alias}/{path}'`, even with alias paths defined in `tsconfig.json`. `typeorm` cli works fine with same settings and running the command with ts-node.

[2020-01-11 00:30] 0b10 opened #30 "Factory returns EntityFactory, which is not assignable"
I can't understand how relations work for entity factories. Below is the snippet of code from the [README](https://github.com/w3tecch/typeorm-seeding#using-model-factories) (minus some things for readability)

[code]

`factory(User)()` returns an `EntityFactory<User, undefined>` object, which is not a `User` type, and thus not assignable to `pet.user`.

Am I just doing it wrong?

[2020-01-14 20:47] Pegase745 opened #31 "Cannot load seeds when `__dirname` is in path"
As seen on the TypeOrm [documentation](https://typeorm.io/), one can use `__dirname` for the path to entities and stuff.

`loadFiles` util function, probably due to the use of `process.cwd()`, doesn't load any seeds if the path is declared as such:
[code]

Any input on that ?

[2020-01-29 19:29] ghost opened #33 "[Bug] Unhandled exception"
In JS `typeof null` is `object`!

https://github.com/w3tecch/typeorm-seeding/blob/7e26b2c7aa18b0f310fc2e1aa7c9fffd4a916e7b/src/entity-factory.ts#L100

When entity has attribute with null value, got exception `Cannot read property 'make' of null`

[2020-02-17 03:35] jakemonton opened #34 "Seed not working with BeforeInsert decorator"
I created a user seed that will insert a new user with a hashed password. On my `user.entity.ts`, I have a `@BeforeInsert` decorator to hash the password before inserting it into the DB. This works when calling the API endpoint but wasn't triggered when using typeorm-seeding. It will only insert the password as plain text.

user.seed.ts
[code]

user.entity.ts
[code]

[2020-03-05 00:08] astroash commented on #30
Any update on this issue? Or workarounds for this?

[2020-03-13 09:27] darlingtonamz commented on #34
I have the same issue. Please, what's the fix?

[2020-03-15 14:54] diegoazh commented on #31
Hello @Pegase745 use `resolve` like this

[code]

[2020-03-22 10:38] luisramirez-m commented on #29
Hey, I had the same problem. I do not have much experience, but reading i finded a "solution" [tsconfig-path](https://www.npmjs.com/package/tsconfig-paths), in general we need to register the "alias paths" before so that typeorm-seeder can perform its function.

After installing "tsconfig-path", just change my command in package.json to:

[code]

and now it works!

[2020-03-22 12:08] Shub1427 commented on #29
Yeah! It works using `tsconfig-paths/register`. Thanks @luisramirez-m

[2020-03-22 12:08] #29 closed

[2020-03-30 07:48] bpatram commented on #31
I'm also affected by this. It seems when loading the seed and factories an assumption is made that the path is relative.

https://github.com/w3tecch/typeorm-seeding/blob/9b614d4c74871204e30ec69f298ccb012e5ed108/src/utils/file.util.ts#L6-L10 _notice the join with `process.cwd()` on line 8_

If we dig into TypeORM's implementation in how they resolve files (like entities, migrations, etc) you'll not

[2020-03-30 08:29] bpatram commented on #31
@diegoazh your solution will not work since the paths defined must be relative, not absolute ones like you get when calling `resolve`.

@Pegase745 Here is the hacky workaround I am using until this issue is resolved. Using your example, you can do something like:

[code]
Obviously, this example is a bit contrived... but in some cases this is needed (like when the root to your config is different t

[2020-04-01 13:04] skelmen opened #38 "Load seeds from other config file"
I'm using Nest.js and dotenv package.
Is it possible to use typeorm-seeding with Nest.js?
My config file is placed here /src/config/database.ts
Thanks.

[2020-04-02 11:07] hirsch88 commented on #38
hi @skelmen
Yes for sure you can use them together.

Add those scripts to your package.json
[code]

then add this file `ormconfig.js` in your root folder.
[code]

hope this helps.

[2020-04-02 11:23] skelmen commented on #38
Thanks!

[2020-04-02 11:23] #38 closed

[2020-04-06 00:07] stephanoparaskeva opened #39 "Does not work with `export default`"
I have a config file called ```dev_seed.ts``` and inside it:
[code]

This does not work when running command:
```    "seed": "ts-node-dev ./node_modules/typeorm-seeding/dist/cli.js seed --config /db/seed/config/dev_seed.ts" ```

Where as this code with same command does work:
[code]

[2020-04-06 02:02] stephanoparaskeva opened #40 "Is there a way to Undo or Revert seeding?"
Is it possible to remove the seeded data via a command? and if not, how would one achieve this reliably?

[2020-04-08 16:13] mcousillas6 opened #41 "Usage for unit testing"
First of all, thanks for the awesome lib!

I was wondering if there's some way of using the factories to seed specific data for unit testing.

[2020-04-10 12:02] hirsch88 commented on #40
Hi @stephanoparaskeva
I use this command to clean the database.
[code]
just add this to the scripts in your package.json.

[2020-04-10 12:02] #40 closed

[2020-04-10 12:04] hirsch88 commented on #39
Hi @stephanoparaskeva
TypeORM looks for a .js or json file not a TypeScript one.

[2020-04-10 12:04] #39 closed

[2020-04-10 12:07] hirsch88 commented on #23
Hi @codeinaire

Well there is no connection in the factory argument. Please use the second argument called connection.

[2020-04-10 12:07] #23 closed

[2020-04-10 21:25] hirsch88 commented on #12
hi @dothem1337
I have finally included this feature. try out the new version 1.4.0

[2020-04-10 21:25] #12 closed

[2020-04-10 21:26] hirsch88 commented on #27
hi @kKen94
I have finally included this feature. check out the new version 1.4.0

[2020-04-10 21:26] #27 closed

[2020-04-10 21:29] hirsch88 commented on #30
hi @0b10  and @astroash
I have finally included this feature! check out version 1.4.0

Just use any type ;-)

[code]

[2020-04-10 21:29] #30 closed

[2020-04-10 21:32] hirsch88 commented on #31
hi @bpatram thanks for the tip. :-)

I now use the ConnectionOptionReader of TypeORM.
Check out the new version 1.4.0

[2020-04-10 21:32] #31 closed

[2020-04-11 02:31] eugenio165 commented on #41
By specific data do you mean data you can pass in to the factory?

Because you can pass in a `settings` object which you yourself can define to receive in the factory.
[code]

and then, customize the tag name using
`let tag = await factory(Tag)({ name: 'delicious' }).seed();`

[2020-04-11 03:26] eugenio165 commented on #34
This isnt an issue with `typeorm-seeding`, this is how typeorm works under the hood, check out the [official documentation](https://github.com/typeorm/typeorm/blob/master/docs/listeners-and-subscribers.md#beforeinsert)

There are requirements for each entity listener to run correctly, in this case, for `BeforeInsert` to run you must use repository/manager save (or create, whichever you prefer, and

[2020-04-11 18:00] camezcua12 opened #44 "README has wrong .env configs"
Just started using the package on a personal project, and couldn't make the seeds run. I was getting some "Cannot read property 'name' of undefined", so I jumped into the source code, to try and find the error. It comes from what the README states about settings the ".env" configs:

`TYPEORM_SEEDING_FACTORIES=src/seeds/**/*{.ts,.js}
TYPEORM_SEEDING_SEEDS=src/factories/**/*{.ts,.js}`

As you might

[2020-04-11 19:27] #44 closed

[2020-04-11 19:29] hirsch88 commented on #44
Hi @camezcua12
Thanks for the creating the issue.
Have fixed it.

[2020-04-11 20:02] #34 closed

[2020-04-11 20:18] #9 closed

[2020-04-11 20:18] #33 closed

[2020-04-11 20:20] #41 closed

[2020-04-11 20:21] hirsch88 commented on #33
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typeorm-seeding/v/1.4.1)
- [GitHub release](https://github.com/w3tecch/typeorm-seeding/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-11 20:21] hirsch88 commented on #34
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typeorm-seeding/v/1.4.1)
- [GitHub release](https://github.com/w3tecch/typeorm-seeding/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-14 02:51] brunoti opened #53 "TypeError: this.subQuery is not a function"
I don't really know what I am doing wrong, can you help me?

This is the complete output:

[code]

This is my seeder:

[code]

[2020-04-14 06:09] hirsch88 commented on #53
Hi @brunoti
Could you please provide me your entity `ApplicationToken` for a full analysis.

[2020-04-15 16:21] eranshmil commented on #53
This also happened to me, fixed that by setting the `TYPEORM_ENTITIES` environment variable.

[2020-04-15 19:23] hirsch88 commented on #41
Hi @mcousillas6  & @eugenio165

Check out the seeding data in testing.
https://github.com/w3tecch/typeorm-seeding#-seeding-data-in-testing

[2020-04-16 20:24] IanPirro opened #57 "Pass open connection?"
Hey there,

Looking to see if there is a was to use an existing connection. While using in tests in a nestjs app I have a case like this ->

[code]

Basically looking to avoid `AlreadyHasActiveConnectionError: Cannot create a new connection named "default", because connection with such name already exist and it now has an active connection session.`

Is there a way to use an existing connection, o

[2020-04-16 21:32] abettke commented on #57
It would be nice to be able to pass connection options directly to this library to override any values that may be set in the `ormconfig.json` or in the event this file doesn't exist.

`await useSeeding({ ...connectionOptions })` <--- passing ConnectionOptions directly

[2020-04-17 17:20] hirsch88 commented on #57
Hi @IanPirro  & @abettke

1. with `setConnectionOptions` you can override the configs.
2. now `useRefreshDatabase`uses already existing connection.

Example

[code]

Are these changes helpful for you guys?

[2020-04-17 17:29] IanPirro commented on #57
@hirsch88 Thanks for the quick reply, PR looks good this is what I did on a local fork in createConnection to get this to work, the connection options override is nice as well.

[2020-04-17 18:31] NMontilva commented on #53
I'm using ormconfig.json and I'm getting the same error as @brunoti
I already set the entities variable in the .json and nothing. Same error

Here is my ormconfig.json

`{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "a_username",
  "password": "a_password",
  "database": "a_db",
  "entities": ["entity/*.ts","dist/**/*.entity{.ts,.js}"],
  "synchronize": true,
  "seeds":

[2020-04-17 18:50] #57 closed

[2020-04-20 06:33] hirsch88 commented on #53
Hi @NMontilva

Sure the path to your entites is correct?

`"entity/*.ts"`  should this be `"src/**/*.entity{.ts,.js}"`

[2020-04-22 13:46] NMontilva commented on #53
Hello @hirsch88

Thank you! That was it.

[2020-04-24 12:51] jaynish-zen opened #60 "Feat: Support async ormconfig (Feature request)"
Typeform currently supports async ormconfig. It would be good to have it in this library.

You can check it here:
https://github.com/typeorm/typeorm/pull/5048

[2020-04-30 16:01] molinab297-unisys opened #61 "Can useRefreshDatabase() use migrations to recreate database instead of entities?"
Hello, I was wondering if there's a way to tell the useRefreshDatabase() function to use a TypeORM migrations file to recreate the database after it's dropped, rather than using the entities to recreate the schema. I find that recreating the schema from the entity classes is never really 100% accurate. Thank you.

[2020-04-30 20:45] molinab297-unisys commented on #61
In case anyone else runs into this problem, I actually solved this by not using useRefreshDatabase() at all. I used the createConnection() function instead to manually create a connection and drop the database and run the migrations. Here's the code I used:
`javascript
import {
  configureConnection,
  getConnectionOptions,
  useSeeding,
  runSeeder,
  tearDownDatabase,
  createConnection
} from "

[2020-04-30 20:45] #61 closed

[2020-05-01 08:55] ahmedNY commented on #53
I had the same issue

[2020-05-04 18:26] johannesschobel opened #63 "[Bug] Root Param should be respected in OrmConfig file"
Dear @hirsch88 ,

today i tried to add your library to my existing project in order to provide respective seeding functionality.

For the context, please note that i use a mono-repository with `nrwl/nx`. I have a few applications (all stored in `apps/` folder of my project root), whereas one is a `NestJS API`. The latter uses `TypeORM` with an `ormconfig.js` file and your library.

However, when i

[2020-05-06 04:50] DanjBethel opened #64 "Seeder Ordering?"
How do I control the order in which the seeds are ran, for example when it comes to seeding entities with relations, I assume one seed would have to be ran before the other?

[2020-05-07 01:23] wwasowicz commented on #60
That works or me

typeorm.ts
[code]
package.json
`"seed": "ts-node -r tsconfig-paths/register ./node_modules/typeorm-seeding/dist/cli.js -n ormconfig.ts",`

[2020-05-07 21:27] DiogoBatista opened #65 "Error on seed:run"
Hello all,

First of all thank you very much for the library is definitely a must! I've been trying to implement it in a project and I don't seem to be able to make it work.
Im implementing NestJS 7 with Typeorm and Postgres
Could you please help me out?

I keep on having this errors:

`EntityMetadataNotFound: No metadata for <ENTITY_here>  was found.`

[code]

Output of the seed:config without th

[2020-05-08 15:16] gerzok commented on #65
I have the same error, any idea how to fix it?

[2020-05-08 19:59] capinemo opened #66 "Generation structure of seeding files"
Hello!
Typeorm has command for generation migration files: `typeorm migration:generate`. Is planned the same feature in typeorm-seeding? This feature will by useful in cases when we want to fill database some data such as catalogues, lists etc.

[2020-05-09 13:03] DiogoBatista commented on #65
@gerzok for reasons that I still don't fully understand if I set up an env file with the following key `TYPEORM_CONNECTION` we see the following connection options.
[code]
If we omit that specific key we get the configuration we set up in the ormconfig.js
[code]

It makes sense that it fails because we see that all the necessary information for the typeorm-seeding to work is not set.

why this is

[2020-05-09 13:05] DiogoBatista commented on #65
@gerzok https://typeorm.io/#/using-ormconfig/which-configuration-file-is-used-by-typeorm Just saw this, its the typeorm doing :)

[2020-05-10 20:53] davicedraz commented on #53
Relatable, exactly the same error here!

maratona.entity.ts

[code]

maratona.seed.ts

[code]

.env

[code]

[2020-05-11 07:02] hirsch88 commented on #66
Hi @capinemo
This is not planned yet. However, feel free to create a pull-request with it. I would be very happy to integrated it with you.

[2020-05-11 07:05] #65 closed

[2020-05-11 07:08] hirsch88 commented on #64
Hi @DanjBethel there is no ordering the seeds implemented. The idea was that the seeds should be isolated and run one use case like `createAdminUserWithPets.seed.ts`. With that we do not need any ordering.

[2020-05-11 07:08] #64 closed

[2020-05-11 07:13] hirsch88 commented on #63
Hi @johannesschobel unfortunately you have to use the `--root` argument for monorepos. Howerver, if you run the seed command inside of your `apps/api` folder it should work.

[2020-05-11 07:13] #63 closed

[2020-05-11 07:13] #60 closed

[2020-05-11 07:30] hirsch88 commented on #53
The error `TypeError: this.subQuery is not a function` is because typeorm could not find any entities.

[2020-05-11 07:30] #53 closed

[2020-05-11 11:23] capinemo commented on #66
Thank you for answer!
Then i will implement this functionality.

[2020-05-11 22:50] nathanagez commented on #66
@capinemo do you need any help ? Feel free to ask !

[2020-05-12 07:25] capinemo commented on #66
@nathanagez thanks!
There shouldn't be any problems yet. If i have any questions, i will ask them.

[2020-05-12 19:32] gerzok commented on #65
Thanks @DiogoBatista for your guide, it helped me a lot and in the end my error was that I was looking for the entities in the dist folder and it seems that did not work but i change to src/model/ folder and now it works!

[2020-05-13 07:22] gerzok opened #69 "EntityFactory using .map give me an error"
I ran the example (User and Pet) that you have here and I am getting this error:

`(property) User.pets: Pet[]
This expression is not callable.
  Type 'Pet[]' has no call signatures.`

I used this as seeder:

`await factory(User)()
  .map(async (user: User) => {
    const pets: Pet[] = await factory(Pet)().createMany(2)
    const petIds = pets.map((pet: Pet) => pet.Id)
    await user.pets().attach

[2020-05-13 14:46] volovodenko opened #70 "If entity has @AfterInsert() - seeding for this entity will never finished"
Actualy the issue is in the title

[2020-05-13 14:48] volovodenko commented on #70
@AfterInsert()
    async payForReview() {
        const transaction = new ReputationTokensTransaction();
        transaction.amount = -settings.action_price.review;
        transaction.reason = 'Review pay';
        transaction.entity = Promise.resolve(this);
        transaction.user = this.user;

        await getRepository(ReputationTokensTransaction).save(transaction);
    }

[2020-05-22 13:56] volovodenko opened #71 "TypeError: clazz is not a constructor"
typescript 3.9.3 has thrown that exception
![image](https://user-images.githubusercontent.com/29176940/82675148-0fd12100-9c4d-11ea-8b21-e98be4934f9d.png)

[2020-05-27 17:53] tanlong14 opened #72 "Cannot read property 'name' of undefined"
Hello,

I have a problem with initializing test data

I run this CLI:
"seed:config": "ts-node ./node_modules/typeorm-seeding/dist/cli.js config"

and this
"seed:run": "ts-node ./node_modules/typeorm-seeding/dist/cli.js seed -n"

And I have this error message:
![image](https://user-images.githubusercontent.com/2587508/83054200-54482c80-a052-11ea-832b-d5a95487ae66.png)

Why ?

My package.json file:

[2020-05-28 06:45] tanlong14 commented on #72
Hello,
I find my problem. I'm stupid, I create a file "config.ts" in folder "seeds".

[2020-05-28 06:45] #72 closed

[2020-06-12 16:28] Drakota commented on #71
Getting the same thing, have you found something?

[2020-06-21 09:01] chenfanggm opened #74 "where's the attach() API?"
Hi w3tecch,

I can't see attach() API as written in the documentation.

`await user.pets().attach(petIds)`

May I ask for help? Because I can't create an entity later and attach it to the relationship.

Thanks,
Chen

[2020-06-23 10:52] aledoroshenko commented on #63
And what is the correct way to set `root`? Having `projectName/src/config/typeorm.config.ts` I'm trying this: `"seed:config": "ts-node ./node_modules/typeorm-seeding/dist/cli.js config --configName typeorm.config.ts --root /src/config"`, but have an error `Error: Cannot find module '/src/config/typeorm.config.ts'`.

[2020-06-23 20:24] aledoroshenko commented on #31
I'm having the same issue with this config:

[code]

After `yarn run seed:run` (which is ` ts-node ./node_modules/typeorm-seeding/dist/cli.js seed --configName typeorm.config.ts`) it stuck on a database connection step and fail with this error:

[code]

If i remove `__dirname` everything works.

[2020-06-25 00:07] achmadfatoni opened #75 "how to configure where ormconfig.js located"
i have ormconfig.js located at `src/ormconfig.js`

[code]

in my code i use this config like below:
[code]

[2020-06-25 00:09] #75 closed

[2020-07-01 02:09] michaelwooley opened #76 "`context` is not inserted by default?"
Hi, I'm trying to make some factories that make use of context.

Take a slightly modified version of the sample:

[code]

# Expected behavior

- Specified a "default" `user.roles = ["basic"]` in `user.factory.ts`
- If create user with passed context (e.g. `factory(User)({ roles: ['admin'] })`) then the created user will have `roles = ['admin']`
- Otherwise, default to the value specified in the mo

[2020-07-01 05:41] SaveYourTime commented on #75
@achmadfatoni How did you solved this end up?

[2020-07-01 05:45] SaveYourTime commented on #63
Same here!

[2020-07-01 06:04] achmadfatoni commented on #75
@SaveYourTime there is `-n` option, for example `ts-node ./node_modules/typeorm-seeding/dist/cli.js seed -n ./src/config/ormconfig.ts`

[2020-07-01 07:45] SaveYourTime commented on #69
I look up the source code, nothing is related to the `attach` method.
Finally, I use the following way to achieve that

**_/src/database/seeds/create-users.seeds.ts_**
[code]

[2020-07-01 07:49] SaveYourTime commented on #74
I look up the source code, nothing is related to the `attach` method.
Finally, I use the following way to achieve that

#### seeds
**_/src/database/seeds/create-users.seeds.ts_**
[code]

#### factory
**_/src/database/factories/task.factory.ts_**
[code]

[2020-07-01 10:19] SaveYourTime commented on #75
Thanks!

[2020-07-01 17:11] bogdan opened #77 "Lazy relations support"
I didn't any lazy relations example in your docs. Are they supported?

TypeORM doc on lazy relations: https://github.com/typeorm/typeorm/blob/master/docs/eager-and-lazy-relations.md

[2020-07-02 02:33] SaveYourTime opened #78 "[BUG] CLI Options --root doesn't work as expect"
According to the doc [cli-options](https://github.com/w3tecch/typeorm-seeding#cli-options) shows that if your `ormconfig.js` is not located at the root of your project, you can use `--root (or -r)` to tell cli where's the path to the typeorm config file.

Say you have a ormconfig.js file located at `src/config`, and the folder structure would be this...
- /src
  - /config
    - ormconfig.js

Then,

[2020-07-07 23:30] chenfanggm commented on #74
Thanks for replying. @SaveYourTime

[2020-07-07 23:30] #74 closed

[2020-07-08 14:31] trompx commented on #74
Same problem here, I have foreignKeys between tables thus I first seed one entity, get all generated ids and pass them to the other entity (this is not ideal).
[code]

I tried your solution @SaveYourTime but it didn't work, when seeding, my arrayIds I pass are undefined.
I'm not using faker but chance, so I declare it this way:
[code]
That would be great if typeorm-seeding could let us pick one al

[2020-07-08 14:32] trompx commented on #69
Same problem here, I have foreignKeys between tables thus I first seed one entity, get all generated ids and pass them to the other entity (this is not ideal).
[code]

I tried your solution @SaveYourTime but it didn't work, when seeding, my arrayIds I pass are undefined.
I'm not using faker but chance, so I declare it this way:
[code]
That would be great if typeorm-seeding could let us pick one al

[2020-07-08 14:36] trompx commented on #63
Same here, the doc is not in sync with how it works currently.
What worked for me is to specify the whole config path with configName, omitting root completly:
`--configName ./src/api/config/ormconfig.js`

[2020-07-08 14:45] SaveYourTime commented on #69
You got undefined cause you’re destructuring the faker object, you can not omit the first argument `(thisArgumentStillNeedsToExist, context: Context)`

[2020-07-08 15:24] trompx commented on #69
I get this error when I use `(faker: any, context: Context)`.
[code]

If I use `(faker: any, context: undefined)` I get: ` 'faker' is declared but its value is never read.`
If I use `(fcontext: undefined)` no error but I can't get myIds from the context in the define function.

[2020-07-08 16:20] trompx commented on #69
Instead of passing the ids to the factory, I manage to directly use them in the seeder to override specific fields:
[code]
It works **only by passing them in the createMany parameters** , not in (Product)().
I would still prefer being able to declare an existing id directly inside the factory rather than passing them like that.

[2020-07-11 04:28] xcymax opened #81 "Error: Cannot find module (typeorm entity)"
When I do `seed:run` in my NestJS app I get the following error:
[code]

This is my `seed:config`:
[code]

TypeORM is working fine with my app, but not this seeding package.

[2020-07-12 14:53] eugenio165 commented on #81
Hi xcymax, i've had this problem in the past. This happens because you're using absolute paths. You should use relative paths in all your imports, so that when you run your code in prod mode, which would normally be something like `node dist/main` it all works correctly.

Also, in my experience i could not get my typeorm configuration to work with both `.ts` and `.js` files. If the above solution

[2020-07-13 01:55] xcymax commented on #81
Thank you @eugenio165 ! Changing all my imports to relative paths fixed that but I am now seeing a new error which I believe you were alluding to:
[code]
I tried running with `entities: [ 'dist/**/*.entity.js' ],` in my configuration and nest cli as you mentioned but am still seeing the same error.

Just getting into Nest/TypeORM so baby steps :).

[2020-07-13 17:00] rbutera commented on #81
were you able to resolve this issue? trying to set up Nest / TypeORM integration tests and it seems like this topic is mostly unsupported in the nest ecosystem

[2020-07-13 17:04] eugenio165 commented on #81
@xcymax
Make sure your using nest cli to run your project, have all the configurations, even `typeorm-seeding` configs routed to the files in the dist folder and make sure your entity files are correct. If that doesnt work, send a few lines worth of code from your entity file, your factory, your seed and your config so we can see whats going on.

[2020-07-14 01:53] xcymax commented on #81
@eugenio165
I have created a simple sample repo here: https://github.com/xcymax/nestjs-typeorm-seeding-sample - appreciate any help.

[2020-07-14 11:50] eugenio165 commented on #81
@xcymax
The only thing i had to do was change the configs to route to the `.js` files in the dist folder, like i said earlier...
Good Luck!

[code]

[2020-07-14 12:17] xcymax commented on #81
Oh now I understand, I was only focused on the `entities` setting in the config. It works now when `factories` and `seeds` are also pointing to the `dist` location and `.js` only.

For clarification:
[code]

Thanks for the help!

[2020-07-14 12:18] #81 closed

[2020-07-18 10:48] tiagocorreiaalmeida opened #83 "Use cli without ormconfig file"
Is it possible to use the current cli without a ormconfig file? I normally initiate my database connection as follow, this way I can keep all the code on typescript side and avoid having an extra configuration file

[code]

[2020-07-21 14:47] lamnhh opened #84 "TypeError: clazz is not a constructor"
I just encountered the error in the title. My code looks like this:
- `entities/User.ts`:
[code]
- `seeders/users.seed.ts`:
[code]
- `ormconfig.json`:
[code]

The full logs:
[code]

I looked into the code in [importer.ts](https://github.com/w3tecch/typeorm-seeding/blob/master/src/importer.ts) and see these lines:
[code]

That `keys[0]` part looks weird to me. I logged `keys` out on my machine and

[2020-07-27 12:22] gerwinbrunner opened #85 "Factory with EntitySchema instead of typeorm class"
Hi,

we use the EntitySchema to specify our typeorm schema.
https://typeorm.io/#/separating-entity-definition

How is it possible to use such a EntitySchema in a factory?
Any hints will be very appreciated.

Cheers,
Gerwin

[2020-07-28 07:18] gerwinbrunner commented on #85
Any idea on this?

[2020-07-31 14:33] #84 closed

[2020-08-02 07:38] vegtelenseg opened #86 "How to use define inside a loop?"
I am doing this

[code]

where `results` is an array of objects with all the keys I am accessing in the factory definition.

I later run this factory like this

[code]

I have kept the config of where the seeds and factories live to default and have those folders created in my project as per the defaults docs.

This runs fine. It connects to the db and it finds the seeds and runs them but just alw

[2020-08-02 08:25] vegtelenseg commented on #69
`context` is the second argument of that callback, not first

[2020-08-02 08:30] vegtelenseg commented on #69
That is the intended behavior.
This is the implementation of `createMany`

[code]

As you can see, it simply loops as many times as specified by `amount` calling create with the same data you passed.

[2020-08-02 09:11] vegtelenseg commented on #86
I have resolved this entry by moving the loop to the Seeder and as for the foreign ids, I simply pass the created entity as part of the context to the next entity to be created and use that.

i.e

Instead of

[code]

I do

[code]

[2020-08-02 09:11] #86 closed

[2020-08-04 11:07] deep-c commented on #85
I also have the same question. Currently importing a plain class that represents an entity but it doesnt seem to pick up on anything when running seed:run. Is this supported?

[2020-08-04 11:44] deep-c commented on #85
Ok so after so debugging looks like it works @gerwinbrunner . Here is a basic example

userModel.ts
[code]

user.factory.ts
[code]

user.seed.ts
[code]

.env
[code]

package.json
[code]

Hope it helps, sorry for the confusion.

[2020-08-05 07:57] squareloop1 commented on #71
Had the same issue a while ago. The issue was exporting other stuff from the seed file. It should work if you just have one default export of the seeder in the file.

Maybe this can be fixed to be able to export other variables (like mock data objects).

[2020-08-09 16:14] martinsotirov opened #87 "Running a seeder tries to drop foreign keys in multiple tables and fails"
I'm using TypeORM with MySQL. For some reason running `npm run seed:run` with the package.json command suggested in the README results in foreign keys getting dropped from multiple tables, which fails at some point and my data doesn't get seeded at all but my schema is completely borked.

Here is my custom seeder:

[code]

This is what I get when running the seeder.

[code]

Why is typeorm-seeding

[2020-08-11 23:50] glpunk opened #88 "No repeat seeds in multi-run"
More than a issue is a question,

There is a way to no repeat seeding? like migration that save the the last one executed and no repeated it.

Any plan to feature like this?

thank you!

[2020-08-28 18:45] joseSignot opened #91 "Is there any way to force an order in typeorm-seeding ??"
How to control which seed to run first

[2020-09-02 18:04] Superoryco commented on #91
For me, just add a number on the seeders file name, e.g. 1-create-default-users.seed.ts | 2-creete-posts.seed.ts

[2020-09-03 13:29] noudadrichem opened #92 "useRefreshDatabase doesn't resolve, connection undefined."
First of all great library! CLI works like a charm!

- Node = v14.8.0
- Testing lib = [AvaJS](http://avajs.dev/)
- Database = mariadb:10.1

The function `useRefreshDatabase()` won't create a connection even tho the options are correct.
I've got all the CLI tooling working so commands like `npm run seed:run` seeds my database like a charm.

When I want to run seeding in my testing module my tests t

[2020-09-04 06:56] noudadrichem commented on #92
After numerous iterations I found out that the default timeout of my testing library is 10 seconds. The creation of a connection takes a bit longer than that if I load up all my entities which means that the connection timed out before creating the connection.

This is fixed now!

[2020-09-04 06:56] #92 closed

[2020-09-04 19:24] joseSignot commented on #91
That's my current solution Actually!

[2020-09-04 19:24] #91 closed

[2020-09-04 19:25] joseSignot commented on #91
Should this be in the docs somewhere?

[2020-09-04 20:18] #88 closed

[2020-09-04 20:21] #85 closed

[2020-09-04 20:26] #78 closed

[2020-09-04 20:29] hirsch88 commented on #77
At this point I did not need this feature. However, please create a PR with a solution. I would be happy to review it :-)

[2020-09-04 20:29] #77 closed

[2020-09-04 20:36] hirsch88 commented on #76
Hi @michaelwooley
Thanks for the good describe issue.
The idea of the context is to pass any kind of a parameter into the factory.
For example to add a type like 'superman'.
[code]

[2020-09-04 20:36] #76 closed

[2020-09-04 20:37] hirsch88 commented on #71
Could you please add your seed file?
Only with that I can reproduce the error.

[2020-09-04 20:37] #71 closed

[2020-09-04 20:38] hirsch88 commented on #70
Hi @volovodenko
Did you find any solution?

[2020-09-04 20:41] #69 closed

[2020-09-04 20:42] hirsch88 commented on #66
Hi @nathanagez
What is the state of your implementation?

[2020-09-06 06:30] volovodenko commented on #70
Actualy the issue was in getRepository(ReputationTokensTransaction). When we run seeding, app hasn't started yet, and getRepository isn't working. I decided to use @EventSubscriber() instead @AfterInsert()......I have different database config file (for app one and for migrating/seeding another one), in config file for migrating/seeding I have excluded property "subscribers " and that's all.

[2020-09-08 21:37] capinemo commented on #66
Hi! Sorry, work, family...
File generation is solved:
https://github.com/w3tecch/typeorm-seeding/compare/master...capinemo:seed_generate
But it has problem. I thought that running this files must work as typeorm - data seeded and file name saved handled file into 'migrations' table to db. If we use typeorm's table (migrations) we must use it methods, but it is protected. If we decide to realize si

[2020-09-09 14:52] zanstaszek9 opened #93 "errorMissingColumn when database columns have different naming in Entitiy file, seeding do not parse column names"
Hello, I'm using PostgreSQL and NestJS.
When trying to make seed for my table, I'm getting an error that mentions that the column names in the Query used in the seed are not found in the table.  I have ` namingStrategy: new SnakeNamingStrategy()` in my `orm.config.ts` file. Using QueryBuilder and repository interface in different classes, like catching GET/POST/DELETE works fine, the seeder is the

[2020-10-01 00:42] bymi15 opened #95 "Is it possible to use TypeDI Containers?"
As the title says, is it possible to integrate this with TypeDI (dependency injection)?
I am using services with container injections, i.e: `useContainer(Container);` with `import { useContainer } from 'typeorm';`.

But when I use the container to getRepository, the injection seems to be buggy.
I get `Cannot get connection "default" from the connection manager.`

When I load my database I use:
`co

[2020-10-01 01:36] #95 closed

[2020-10-04 21:29] rtman opened #96 "seed:run completes successfully but there is no added rows."
Hey,

I'm migrating my seeding from sequelize (which currently works) to this package. I'm a bit confused here, I'm running the following seeder on a docker migration container. There is another container that also connects to typeorm which works fine, this is the main connection where all the app work is done. I assume you can have multiple typeorm connections active at once, anyways so the seed:

[2020-10-07 11:47] signorettif commented on #96
I seem to have the same problem

[2020-10-08 19:26] AdstonOliveira commented on #96
Here to

[2020-10-08 19:27] AdstonOliveira commented on #96
here it is like this

[2020-10-08 20:42] rtman commented on #96
not sure what you mean

[2020-10-08 20:43] rtman commented on #96
Do I need to provide more information, would be great to get some guidance here.

[2020-10-11 11:04] SiarheiLunski commented on #96
@rtman I thing you have a typo in your `ormconfig.js`. Check `seeds` property, you should have something like this:

[code]

[2020-10-20 01:13] JulienLeal commented on #96
I have the same issue :(

[2020-10-20 01:22] rtman commented on #96
@SiarheiLunski I believe I tried that initially and it didn't work. But also if the orm config is incorrect, how it loading seeds as per the image I posted?

[2020-10-29 06:56] SecondDim opened #98 "Could update faker version 4 to 5 ?"

[2020-10-31 22:50] EndersonPro commented on #83
Hello @tiagocorreiaalmeida, I have this problem, how did you solve it?

[2020-10-31 23:12] tiagocorreiaalmeida commented on #83
@EndersonPro  I ended up changing to sequelize

[2020-11-03 14:25] SaveYourTime commented on #96
1. Make sure your `seeds` and `factories` are both in the correct format.
2. Make sure those factory files should be in the `src/database/factories` folder and suffixed with `.factory` like src/database/factories/user.factory.ts

Here's my ormconfig.js
[code]

[2020-11-12 02:57] Joshuapwilley commented on #83
@EndersonPro I also wanted to avoid an extra configuration file.
Here's how I did it:

Assuming you have the following directory structure:
[code]

Pull out your typeorm connection options to a separate file.
Connection.ts
[code]

package.json
[code]

[2020-11-16 12:30] geritol opened #99 "/usr/bin/env: ‘nod’: No such file or directory"
Hi!
I am getting the following when running the cli without `ts-node`:
[code]
versions:
- typeorm-seeding: `1.6.1`
- typeorm: `0.2.28`
- node: `12.19.0`

[2020-11-16 12:36] geritol commented on #99
Just found that it has been fixed, but not yet released.
https://github.com/w3tecch/typeorm-seeding/commit/4dd1bc261f98bc4a3828d2be5901de0e78ecc750

[2020-11-16 13:26] #99 closed

[2020-12-01 08:42] pbkim0725 opened #102 "Typo within EntityManager"
https://github.com/w3tecch/typeorm-seeding/blob/4136b0e0f58a4ec13b17c717bd026043fbdf7ddd/src/entity-factory.ts#L91

Need to fix typo

[2020-12-02 16:36] Egzonrexhepi opened #103 "MODULE_NOT_FOUND - While im trying to use entity"
Hi

I recently installed typeorm-seeding into my project, and im trying to seed colors into a FormColorEntity,

Here is my seeder:

[code]

I am using only .env Config like this:
[code]

And my seeders are located in src/seeds/create-colors.seed.ts

Here is my package.json config:
[code]

[2020-12-02 19:19] abramyk-mv commented on #57
Hi @hirsch88,

Does your solution still require the presence of `ormconfig` file, right?

[2020-12-12 01:36] ipirm opened #105 "EntityMetadataNotFound: No metadata for "User" was found. && I found that question in latest issues but i didnt see any solution, that helps me"
My ormconfig.ts

    type: 'postgres',
    host: "localhost",
    port: 5432,
    username: 'postgres',
    password: "root",
    database: "birji_db",
    entities: ["dist/database/**/*.entity.js"],
    factories: [ "dist/database/factories/**/*.js" ],
    seeds: [ "dist/database/seeds/**/*.js"],
    migrations: ["dist/migration/*.js"],
    migrationsRun: true,
    synchronize: true,
    logging:

[2020-12-12 01:40] ipirm commented on #105
Dist structure
![image](https://user-images.githubusercontent.com/48025760/101969153-4fd51100-3c3c-11eb-965c-68557a38df2d.png)
 Git: https://github.com/ipirm/birji-new-backend

[2020-12-16 03:41] RyanAquino opened #106 "Seeder not working during docker-compose"
Seeder does not detect seed files when executed via docker-compose command `npm run seed`

Here are the docker-compose logs
[code]

As shown above, No seeder was identified. But when I executed it manually inside the container, in runs without issues.

(executed inside the container)
[code]

Here is the `docker-compose.yml` file `command` line
[code]

[2020-12-16 14:32] RyanAquino commented on #106
Issue Solved.

The issue on this is because, the container does not contain the `dist` folder which is set on my `entities` config.
[code]

My fix to this issue, is to run the build command first then seed and lastly run the application

**Fixed**
`docker-compose.yml` file `command`
`command: sh -c "npm run build && npm run seed && npm run start"`

[2020-12-16 14:32] #106 closed

[2020-12-17 22:12] btilford commented on #41
Is it possible to use the factories without any database connection or calling `useSeeding()`?

[2020-12-18 19:35] tsubik commented on #98
In my opinion, faker should not be listed as a dependency for this library as it has nothing to do with seeding. Not sure what is the point of just passing it to the entity factory.

[2021-01-06 04:53] JoshuaM1995 opened #108 "TypeError: Cannot read property 'factory' of undefined"
I got the following error when trying to run a seed. In the CLI, it's saying the ORMConfig has been loaded, factories and seeders are imported, database connected and the seeder itself has been executed.

[code]

Here's user.factory.ts:
[code]

create-users.seed.ts:
[code]

ormconfig.js:
[code]

[2021-01-06 05:07] JoshuaM1995 commented on #108
Changing my ORMConfig to this worked: `factories: [`${__dirname}/src/factories/**/*{.ts,.js}`],`

It would be nice if there was some type of error like "no factories found" or something along those lines.

[2021-01-06 05:07] #108 closed

[2021-01-06 23:24] alefcastelo commented on #103
@Egzonrexhepi if you change your scripts to:

[code]

if you add ` -r tsconfig-paths/register` to the script will be able to run successfully.

I hope this can help you!

[2021-01-09 05:19] kkoomen opened #109 "Update internal faker library"
The version of the `faker` library you're using internally doesn't have the `faker.random.arrayElements()` method. (Please the `s` in `arrayElements`, because the singular version does exists, called `arrayElement()`).

Please update the internal faker to the latest version.

[2021-01-12 16:43] Gasorey opened #110 "Does not create any data in db"
I'm trying to use it to populate a postgres DB but it does not work.

here's my script:
[code]

My ormconfig.json:
[code]
My factor and my seed:
[code]
Seed:
[code]

When i run seed:run it works doenst show me any error but dont create any data on db

[2021-01-12 17:18] jorgebodega opened #111 "Override params while seeding database"
While I'm trying to seed a database with so many entities related, I found a problem and want to known if it is designed to work like this or if it is a bug.

Imagine that I have something like this:

[code]

[code]
and imagine that I have a `UNIQUE` flag on `uniqueNumber` on typeorm entity and generate only 10 possible values because it is something an iso-code.

If I try to run something like th

[2021-01-24 05:30] dmitrif commented on #110
Try updating package.json to:
[code]

And change `ormconfig.json` to `ormconfig.js` with:
[code]

[2021-01-24 19:42] robophil commented on #108
I can't seem to find this option here for `factories` https://github.com/typeorm/typeorm/blob/master/docs/connection-options.md

[2021-01-25 21:07] i-kk commented on #105
At first glance you might need to use src/ folder and cover both entity.ts and entity.js

Something similar to:
[code]

[2021-01-26 22:28] jrr opened #113 "Exceptions inside factories are hidden"
I spent some time chasing down a bug today, where the only visible error was _"Could not save entity"_. Here's the relevant code from typeorm-seeding:

https://github.com/w3tecch/typeorm-seeding/blob/4136b0e0f58a4ec13b17c717bd026043fbdf7ddd/src/entity-factory.ts#L46-L53

So there's a try/catch/throw, and the inner exception appears in the _log_, but it's not reflected in the _thrown error_. This i

[2021-01-28 04:27] adamasantares commented on #87
@martinsotirov In my case seed:run changes all columns types and parameters which I defined in my migrations. WTF it tries to change tables? I only need to fill data.

[2021-01-28 04:51] adamasantares commented on #87
Oh...I managed it, it need to set {"synchronize": false} instead of True.

[2021-02-06 21:01] delucca opened #114 "No connection options found in NestJS application"
Hi!

I'm trying to integrate `typeorm-seeding` in my NestJS application to use it for test data seeding. My NestJS structure does not use an `ormconfig` file, it defined the config at runtime, like the following:

[code]

I've done like that to use environment variables and isolate that usage only to my ConfigService.

Anyway, I've added all required configs, following the how-to in the `README` d

[2021-02-15 12:30] abcdefghijklmnop opened #115 "Error when trying to make a connection."
The problem is:
**Could not save entity.**
I'm using TypeORM with Postgres.

### **SEED file:**
**create-article.seed.ts:**
[code]

### **FACTORY file:**
**article.factory.ts:**

[code]

**tagMapping.factory.ts:**
[code]

### **Entity file:**
**article.entity.ts:**
[code]

This is what I get when running the seeder:
[code]

Sorry for my bad English.

[2021-02-15 13:31] metalcamp opened #116 "Is this package maintained?"
Is this package maintained at all or can we consider it deprecated?
If you're looking for maintainers please say so.

[2021-02-16 07:49] metalcamp commented on #110
You can also use .env. Make sure you list paths to dist/build folder.

[2021-02-24 12:06] fegvilela opened #117 "JavaScript heap out of memory"
Hello there!

I'm developing an API using Node, Express and TypeORM. I'm using docker and postgres (a container for API and another one for db, in dev environment).

My seeder was working before using factories, but as we got a lot of n - n relationships on entities, factories would be the sound way to seed.

I've been trying to use factories in the seeders, but when trying to execute it, JS run i

[2021-02-25 13:26] hirsch88 commented on #116
Hi @metalcamp , would be really glad if you could help to maintain this project

[2021-02-26 17:45] elenahongo commented on #96
same issue here

[2021-03-04 17:01] gaggle opened #118 "How to work with transactional rollback?"
Hi, I can't get this package working with transactional rollback in tests and I'm not sure if it's intentional, or a bug, or something I can work around...

I have a connection wrapped in a transactional rollback, and I expect typeorm-seeding to create data that ends up rolled back at the end of the test. But instead the factory created data actually gets persisted.

I'm using https://github.com/e

[2021-03-04 17:04] gaggle commented on #118
And hey thanks for making this package available, I think the factory semantics feel very natural to write and use. I obviously hope I can get beyond the problem I've struggled with today, but regardless thank you for making the library available :)

[2021-03-06 19:37] malteneuss commented on #96
I had a the same problem and debugged it by using the default folder structure `src/seeds/..` and `src/factories/..` with `ormconfig.js` being
[code]
as in the guides. There i saw the CLI actually working: When the CLI recognizes seed files like `add-users.seed.ts`, you see
[code]
in the log. Turns out i had a typo in my custom seed path property in my `ormconfig.js` file.

[2021-03-08 02:00] micalevisk commented on #117
what if you run ts-node with `--max-old-space-size` flag?
`node -r ts-node/register --max-old-space-size=4096`

this could be a memory leak tho.

[2021-03-09 20:11] micalevisk opened #119 "[bug] false-positive success when using named export on seeder file"
Basically, when the seeder file has some `export const foo = 'bar'`-like expression, the `run` method is not invoked and the output is this:

[code]

[2021-03-13 07:18] valdineifer commented on #108
@robophil That's because it's from `typeorm-seeding` package, not from TypeORM. [Here is the section](https://github.com/w3tecch/typeorm-seeding#configuration).

[2021-03-15 17:22] ezequielvictor opened #120 "[Question] how to run the seeds without duplicating?"
I am able to use it normally, but whenever I run the seed: run it duplicates the data that was already there, I am worried about that because we are also in production

[2021-03-16 08:05] geritol commented on #93
Yeah, it seems typeorm-seeding is not respecting the `namingStrategy` option

[2021-03-16 17:24] #120 closed

[2021-03-19 14:51] RaphaelWoude opened #122 "Add support to call seeders"
I want to insert another table after one has been executed for a relation, but that is not possible at the moment as the seeders are just being ran from the folder in alphabetic order.

Laravel has this feature and it would be nice to have.
https://laravel.com/docs/8.x/seeding

[2021-03-21 15:28] coaxial opened #123 "File loader always uses process.cwd(), fails to find files with monorepos"
Given an ormconfig.js file with:
[code]

The orconfig file is located at `apps/api/src/config/ormconfig.js` within a monorepo, and package.json is located at `.`.

Then the file loader fails to find the factory or seed files.

However, if I change this line: https://github.com/w3tecch/typeorm-seeding/blob/4136b0e0f58a4ec13b17c717bd026043fbdf7ddd/src/utils/file.util.ts#L10 to `.map((pattern) => glo

[2021-03-22 10:06] LucienLee commented on #99
could you publish the fix to npm?

[2021-03-31 16:08] quangdvn commented on #110
I am running into the same issue as you, have you solved it yet ?

[2021-03-31 18:28] dmitrif commented on #110
@quangdvn Hi, have you tried my approach above?

[2021-03-31 18:55] Gasorey commented on #110
I didnt solve this issue, just gave up cuz i had to complete the tech test.

To create sees i just create a new migration:

[code]
and the fake values come from this:
[code]

[2021-04-18 10:52] AmrAbdalrahman commented on #122
the workaround you can use [this solution](https://github.com/w3tecch/typeorm-seeding/issues/91#issuecomment-685904757)

[2021-04-21 13:15] shahabgohar commented on #105
@ipirm
Hello, i am able to solve this. your error suggest that it is looking for the metadata which is provided when you used annotations in your entity class (probably in user.entity.ts) with .ts. what you need to do is to change the location of entities
just like this
`entities: ['src/**/*.entity{.ts,.js}']`
also point your seeders and migrations to the ts files too

[2021-04-22 20:29] abramyk-mv opened #127 "No way to reuse an existing named DB connection"
I try to run seed using an existing named DB connection and it does not work as expected.

To specify a connection name, I pass a `connection` property to `configureConnection()` function.
After digging in the code of the `createConnection()` function, I discovered that it is supposed to reuse a connection if it already exists.
https://github.com/w3tecch/typeorm-seeding/blob/4136b0e0f58a4ec13b17c7

[2021-04-28 08:03] #118 closed

[2021-05-07 08:54] tmtung144 opened #129 "Running single seed"
I need to run each seed operation individually, in the terminal when I run seed: run I see an option:
`--seed, -s        Specific seed class to run.`
but when i run the command:
`npm run typeorm-seeding seed -s CreateUsers`
with my seed file **1-create-users.seed.ts** like this:
[code]
It keeps announcing `Unknown argument: CreateUsers`
It works well when it's just running `npm run typeorm-seeding

[2021-05-08 08:25] volovodenko commented on #71
I found out why it happens.
Seeder file had both constant and seeder class

`export default class CountriesSeeder implements Seeder {
    async run(factory: Factory, connection: Connection): Promise<any> {
        await connection.createQueryBuilder().insert().into(CountryEntity).values(countries).execute();
    }
}

interface Country {
    code: string;
    name: string;
}

const countries: Count

[2021-05-08 09:04] volovodenko opened #131 "In factory: TypeError: Cannot read property 'number' of undefined"
faker.random.number({ min: 0, max: 10, precision: 0.001 }) - this work
faker.datatype.number({ min: 0, max: 10, precision: 0.001 }) - this cause TypeError: Cannot read property 'number' of undefined

[2021-05-10 12:08] thakkaryash94 commented on #131
That's because this package internally using an old faker version. https://github.com/w3tecch/typeorm-seeding/blob/master/package.json#L59

[2021-05-13 20:05] micalevisk commented on #129
What about running with `--seed`?

[2021-05-25 20:41] AmrAbdalrahman commented on #129
try run `ts-node ./node_modules/typeorm-seeding/dist/cli.js seed -s CreateUsers`
works well

[2021-05-25 20:58] micalevisk commented on #129
@tmtung144 Since you are using `npm run ...` the `-s` flag will be passed to `npm run` command, not to `typeorm-seeding seed`

Use `npm run typeorm-seeding -- seed -s CreateUsers` or with Yarn `yarn typeorm-seeding seed -s CreateUser`

[2021-05-27 12:08] sdr0x07b6 opened #135 "Generate the unique value"
I have installed and am using typorm-seeding on Nestjs.
The factory cannot generate unique values.

Faker uses the `unique()` method to generate unique values.
However, the Faker in typeorm-seeding's `package.json` is an older version and does not implement the `unique()` method.

I tried to install the latest Faker myself, but it is not unique because it runs on a new Faker instance each the fact

[2021-05-27 12:20] sdr0x07b6 commented on #98
I wrote about this in the Issue https://github.com/w3tecch/typeorm-seeding/issues/135 I just posted.
If the Faker passed by typorm-seeding is the singleton instance, it may be possible to guarantee unique values in the future.

`await factory(User)().makeMany(10)`

If it always gives you the same faker instance during the 10 iterations, then you can check for uniqueness in the instance.

If you im

[2021-06-01 15:16] spmsupun commented on #135
did you find a solution?

[2021-06-01 15:19] sdr0x07b6 commented on #135
I think we have to wait until typeorm-seeding itself updates it. 🤔

[2021-06-01 16:12] spmsupun commented on #135
Found a solution, install latest fake and require it seperatly:

[code]

[2021-06-04 21:40] sdr0x07b6 commented on #135
@spmsupun Hi,
Thanks for taking the time to comment. And sorry for the late reply.

I've tried the method you suggested.
I think it's safe to say that I'm getting unique generation!

I had assumed that if I `require()` each time in the factory instead of receiving the faker instance as an argument, it would not be unique because it determines the uniqueness in the new instance each time.

I tried

[2021-06-04 21:40] #135 closed

[2021-06-04 23:53] sdr0x07b6 commented on #135
Even `fk.unique(fk.internet.email)` instead of `fk.unique(faker.internet.email)` succeeded in generating 50,000 unique entries. After running it several times, I have the impression that there is no difference in the results between them.

---

When I generated 50,000 integers, `fk.unique(fk.random.number)`, no matter how many times I tried, the `uniqueness check` error occurred after about 40,000

[2021-06-05 00:05] sdr0x07b6 commented on #98
It seems I should revise my perception.

I thought that if I didn't pass the only faker within the seeding run as an argument, then I wouldn't be able to determine uniqueness because each time I run the factory, it would use a new instance of the faker.

However, after being advised and trying in another issue https://github.com/w3tecch/typeorm-seeding/issues/135, it seems that unique values were

[2021-06-21 16:54] #66 closed

[2021-06-25 11:35] jorgebodega commented on #116
I think this package is still unmaintained. Please, I use it and could be great to fix some errors.

I could help too if you need it.

[2021-07-02 14:20] johannchopin opened #139 "[Docs] Specify how to link a created entity to another"
I have 2 factories for 2 entities `Customer` and `Event`:

**Entitites**
[code]

**Factories**
[code]

As you can see a `Customer` can have multiple `Event`s and different `Customer`s can participate to the same `Event`. So my goal for the seeding part is to create 10 different `Event`s and then create 100 `Customer`s that participate at some of these `Event`s. So I created 2 seeding files:

[code

[2021-07-13 02:55] AaronNGray opened #140 "SQLITE_ERROR: no such table: user"
Getting the following error :-
[code]

[2021-07-13 07:53] angelxmoreno commented on #103
The path to my ormconfig file is `./src/database/ormconfig.ts`.
so i rewrote the above as `    "seed:config": "ts-node -r tsconfig-paths/register ./node_modules/typeorm-seeding/dist/cli.js -r=./src/database config"`
but when i run `yarn seed:config` I get:
[code]

[2021-07-14 13:02] AmrAbdalrahman commented on #69
thanks, works well with me .
my once editing to solve the error was shown to me is making `(faker: typeof Faker, context: ViewInterface | any)`

[2021-07-15 00:46] AaronNGray commented on #99
I am using the following for now :-

```ts-node C:\Users\aaron\GitHub\typeorm-seeding\src\cli.ts seed```

There seem to be issues with using the JavaScript compiled version as it does not seem to support ES6 modules.

```node node_modules/typeorm-seeding/dist/cli.js```

[code]

[2021-07-15 22:00] ponahoum commented on #81
Would recommand to install `tsconfig-paths` and in the seeding commands add ` -r tsconfig-paths/register`, ie:
<code>
    "fixtures:run:seed": "ts-node -r tsconfig-paths/register ./node_modules/typeorm-seeding/dist/cli.js seed -n src/fixtures/ormFixturesConfig.ts",
</code>

It solved my issue

[2021-07-19 18:47] geritol commented on #99
@AaronNGray this signals a problem with your typescript configuration.

The following should work, without needing to alter your original typescript config.

`TS_NODE_PROJECT=tsconfig.migrate.json ts-node -r tsconfig-paths/register ./node_modules/typeorm-seeding/dist/cli.js`

[code]

[2021-07-19 21:04] AaronNGray commented on #99
@geritol ```ts-node C:\Users\aaron\GitHub\typeorm-seeding\src\cli.ts seed``` works fine.

[2021-07-22 15:19] nguyentuan7277 commented on #129
Not work for me.

[2021-07-29 22:08] AaronNGray commented on #140
# Generate Migration
[code]
# Seed database
[code]
# Run migrations
[code]

[2021-07-29 22:08] #140 closed

[2021-07-29 22:42] AaronNGray opened #141 "Can you please bump faker's version upto v5.5.3 please"
Can you please bump faker's version upto ^5.5.3 please as the images and avatar URL's have been modified in the latest version to be valid image URL's again.
https://github.com/Marak/faker.js/issues/1206

[2021-07-29 23:43] AaronNGray opened #142 "Problem creating multiple Comments on one Post"
I am only seeming to get one Comment per Post  !

**post.factory.ts**
[code]
**post.seed.ts**
[code]
**comment.factory.ts**
[code]
**comment.seed.ts**
[code]

[2021-08-01 20:59] albertcito commented on #96
I had the same issue. With this code:

[code]

The issue was in the line `Promise.all(promises);`. I added `await Promise.all(promises);` and it works properly.

[2021-08-12 16:04] wuxinli1025 commented on #142
I'm having the same issue, for each fake post, it creates a new User() instead of using the user I already have in the User table. So even User -> Post is one-to-many, the actual generated data is always one-to-one!

[2021-08-20 07:20] dontwan commented on #141
I need this too! Because some random options are deprecated, and I need `faker.random.alpha` which is not available in the current version.

[2021-08-20 21:55] nathandaly commented on #78
@SaveYourTime Thanks, this helped me as indeed the `--root` is not working correctly.

`"seed:run": "ts-node ./node_modules/typeorm-seeding/dist/cli.js seed --root libs/configuration/src/config --configName=ormcliconfig.ts",`

[code]

![error image](https://i.imgur.com/SMJh4gS.png)

[2021-08-24 14:56] joaomantovani commented on #139
Hey @johannchopin, did you find how to resolve this issue?

[2021-08-24 15:56] johannchopin commented on #139
Sadly no @joaomantovani 😓 I hope to hear soon from the core maintainers that seems a bit shy 😅

[2021-09-08 12:49] NarHakobyan commented on #98
Hi guys, I've forked and removed faker from deps, you can use this repo as deps

https://github.com/NarHakobyan/typeorm-seed

[2021-09-08 12:49] NarHakobyan commented on #141
Hi guys, I've forked and removed faker from deps, you can use this repo as deps

https://github.com/NarHakobyan/typeorm-seed

[2021-09-09 00:33] #98 closed

[2021-09-09 08:58] RaphaelWoude commented on #116
I would love to help out as well

[2021-09-09 10:46] hirsch88 commented on #116
Hi @jorgebodega & @RaphaelWoude

I added you to this repo. You should now be able to help me maintain it.

Thank you

[2021-09-09 11:02] metalcamp commented on #116
Wow, thank you!
I'm on a bit tight schedule lately but I'll try to work something out.

[2021-09-09 12:23] RaphaelWoude commented on #141
Bumped to version v5.5.3 https://github.com/w3tecch/typeorm-seeding/commit/de1a27dc6c1c51022a315e0e0b952c6d68f676eb

[2021-09-09 12:23] #141 closed

[2021-09-09 12:31] #70 closed

[2021-09-09 12:31] #83 closed

[2021-09-09 12:33] #109 closed

[2021-09-09 12:34] #122 closed

[2021-09-09 13:05] RaphaelWoude commented on #131
https://github.com/w3tecch/typeorm-seeding/releases/tag/v1.6.2

[2021-09-09 13:05] #131 closed

[2021-09-09 13:17] RaphaelWoude commented on #113
Sorry for the late response. We would for sure want to rethrow the exception here.
If you are still up to contribute, just sent a PR with the change.

[2021-09-09 13:47] RaphaelWoude commented on #102
https://github.com/w3tecch/typeorm-seeding/pull/112/files

[2021-09-09 18:37] metalcamp commented on #96
Closing, since it seems to be misconfig issue. If you have any further issues regarding this topic please feel free to reopen.

[2021-09-09 18:37] #96 closed

[2021-09-09 18:38] #116 closed

[2021-09-09 18:39] metalcamp commented on #129
Closing, since it seems to be resolved. If you have any further issues regarding this topic please feel free to reopen.

[2021-09-09 18:39] #129 closed

[2021-09-09 18:51] metalcamp commented on #114
Can you share link to example app or even the actual repo of this app?

[2021-09-09 19:19] metalcamp commented on #87
Closing, seems like misconfig in TypeORM.

[2021-09-09 19:19] #87 closed

[2021-09-14 16:19] rtman commented on #96
Just fyi that @malteneuss is correct, but this package should say if it cannot locate any seed files instead of displaying `Finished Seeding` when it didn't find anything to seed:

<img width="588" alt="Screen Shot 2021-09-14 at 9 18 26 AM" src="https://user-images.githubusercontent.com/20849135/133295411-8c006980-859f-4c4a-8d07-0a8b1d3e32b4.png">

One might think that it was able to locate the fi

[2021-09-15 22:25] wguerram opened #151 "Call seeder classes in a specific order"
Hello, is there a way to specify in what order call the seeder classes, i have feature folder structure and each folder has its own seeder class, I have problem with foreign keys that's why I need to call the classes in particular order.

I tried naming the classes with Seed002, Seed003 but didn't have effect. It seems it goes in the order of the folders.

Or is there a different approach?

I'm us

[2021-09-16 11:22] RaphaelWoude commented on #151
At the moment we do not have a way to set the order of execution.
However you could do something like this. https://github.com/w3tecch/typeorm-seeding/issues/91#issuecomment-685904757

[2021-09-16 12:09] wguerram commented on #151
Thanks, I guess I'll to have the files in the same folder to work.

I tried putting an index.ts with a list of export * from to each seed file but the seeder is not picking up the classes doing it that way.

[2021-09-16 14:20] mfasanya commented on #131
Can we get the latest version pushed to npm?

[2021-09-16 19:00] RaphaelWoude commented on #131
@hirsch88

[2021-09-17 07:56] RaphaelWoude commented on #151
Just have to have them all in the same folder for it to work.
Anything else just doesn't work. I might look into dependency for seeders. Laravel has a system for this that works great and would fit your use-case

[2021-09-17 07:56] #151 closed

[2021-09-21 14:29] michaelpwilson commented on #139
I'm not 100% on your use case and I haven't tested this, but hopefully points you in the right direction.

Use the ORM connection in the Seed file to find Customers you want the Event to have, then pass that through to the Factory:
[code]

Then add that to the Column you require:
[code]

The problem I am currently facing is that the execution of the Seeders is done in alphabetical order. So In you

[2021-09-22 11:04] phamhuyhoang95 commented on #139
@michaelpwilson How you resolve order runing for each seeder ? I want my seeder file run from top to end.

[2021-09-22 11:36] johannchopin commented on #139
@michaelpwilson @phamhuyhoang95 You can easily modify the seeder order by adding a number before the filename like:

[code]

[2021-09-25 14:50] Jedliu opened #153 "Can't install the latest version 1.6.2"
Hi,

I can't install the latest version 1.6.2. and the version on NPM is still 1.6.1.
[https://www.npmjs.com/package/typeorm-seeding](https://www.npmjs.com/package/typeorm-seeding)

I tried
[code]
but it doesn't work.

Thank you,

[2021-09-27 11:33] RaphaelWoude commented on #153
I would love to send out a new version but unfortunately I do not have the permission to.
We will have to wait for @hirsch88 to push the newest version.

[2021-09-27 14:10] Jedliu commented on #153
Okay, thank you for your reply. We'll wait for @hirsch88 .

[2021-09-28 06:25] ryuseongryong commented on #72
Hello, I have same problem OTL
What's meaning of "create a file 'config.ts' in folder 'seeds'"?
Does need config.ts file in this case?

[2021-09-28 08:07] ryuseongryong commented on #72
oh, I solved
If empty Seed File is existed, does not work.

[2021-10-05 04:49] alfaben12 opened #154 "TypeError: Cannot read property 'name' of undefined"
![Screenshot from 2021-10-05 11 42 56](https://user-images.githubusercontent.com/20008086/135961334-353a036a-e445-4723-9ae6-f651760edd6f.png)

Hi I'am already following instruction on docs but I got this error

    user.factory.ts

    import  *  as Faker from  'faker';
    import  { User }  from  'src/users/entities/user.entity';
    import  { define }  from  'typeorm-seeding';

    define(User,

[2021-10-06 17:48] jorgebodega commented on #111
I will try to update the message to the last commit

[code]

`resolveEntity` is creating/making some other entities that is related to the main entity, like this example:

[code]

`field2` depends on seeding, but could be possible to be persisted. `field3` is being persisted EVERY single time. This could cause some problems because if I try to create an entity this way:

[code]

Two `EntityThree`

[2021-10-06 17:49] jorgebodega commented on #111
@RaphaelWoude please take a look on this, i will update my PR

[2021-10-06 20:38] jorgebodega commented on #154
Hi! Can you share how are you running the seeder? Just running `nest build` somehow? Could be useful, I cannot reproduce this.

BTW, I updated your issue to use markdown, more readable :+1:

[2021-10-06 23:27] jorgebodega commented on #154
Please @alfaben12, could you check what @harveysanders said?

If that fixes your problem, I could try to do something with path validation (Maybe print files loaded with verbose flag?)

[2021-10-07 02:35] alfaben12 commented on #154
@harveysanders thank you for reference, my ormconfig is wrong that's why maybe that's why we get the same error
@jorgebodega I change seeder without build, if force with build will be error, let me little explanation in my case

ormconfig.json  (Before)

[code]

ormconfig.json  (After)

[code]

package.json (Before)

[code]

package.json (After)

[code]

Conclusion for ormconfig.json my bad is, I

[2021-10-11 18:56] jorgebodega commented on #119
I have no problem to use default export, but usually I try to avoid that. [This link](https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad) explain very well why.

But what I said, I have no problem with this if we are consistent, but could be a breaking change for someone that is using non-default exports.

@RaphaelWoude opinions here, pls :pray:

[2021-10-11 19:08] jorgebodega commented on #115
Hi! Sorry for late response.

I have to check this deeply, not sure how is the behaviour when working on arrays on factories.

[2021-10-11 19:25] RaphaelWoude commented on #119
I think we should just use the modern module syntax. I have had a ton of problems before with export default. The link you provided pretty much sums it up.

[2021-10-11 19:32] jorgebodega commented on #119
For me, the best way to do this is by using non default export and use `instanceof` to check every import as a Seeder, that is an interface.

https://github.com/w3tecch/typeorm-seeding/blob/4136b0e0f58a4ec13b17c717bd026043fbdf7ddd/src/types.ts#L23-L28

[2021-10-11 19:38] micalevisk commented on #119
then this interface becomes

[code]

and now users should move `class Foo implements Seeder` to `class Foo extends Seeder`? This approach looks good to me. This could be a problem if someone has been using
`Class Foo implements Seeder extends Bar` tho, since they cannot extends from both `Seeder` and `Bar`

[2021-10-11 20:26] jorgebodega commented on #119
For me [mikro-orm seeding](https://mikro-orm.io/docs/next/seeding/) is a very good example on how to do this. But is unreleased yet.

I'm pretty sure we should create a project and start working on next version, maybe a 2.x version, because there will be breaking changes for sure.

[2021-10-11 21:01] micalevisk commented on #119
cool!

What if there are multiple seeder class exported? I don't know how Mikro ORM handle this. My suggestion is: to prevent misuages, `typeorm-seeding` will throw an error if more than one seeder class is found.

[2021-10-12 17:02] jorgebodega commented on #93
Hi! Sorry for late response.

Seems like a problem with typeorm and how naming works. Did you try same query in some other places?

[2021-10-12 18:36] jorgebodega opened #158 "Add npm secret"
Npm secret is required on release system in order to deploy the package to npm registry.

Github package registry is already working with autogenerated secret.

[2021-10-12 18:52] jorgebodega opened #159 "Simplify promise checking on utils"
For me, the previous way to check if a value is a promise was too complicated and not readable

https://github.com/w3tecch/typeorm-seeding/blob/4aca2ffbfb23fa367dbfcd45a080346bfd34f3e3/src/utils/factory.util.ts#L12-L13

Just to start working on new version, this could be simplified

[2021-10-12 18:55] jorgebodega opened #160 "Add next branch to pull request checks"

[2021-10-12 18:59] jorgebodega opened #161 "Bump package versions"
Currently some packages are outdated. We could update manually or try to update with some kind of bot, like renovate or dependabot.

This is the list

![imagen](https://user-images.githubusercontent.com/23708828/137013569-024ed618-4b94-41c1-b2b2-928bfea0573c.png)

- [ ] @semantic-release/git
- [x] #171
- [x] #172
- [x] #167
- [x] #173
- [x] #168
- [x] #166
- [ ] semantic-release
- [x] #177
- [x] #

[2021-10-12 19:07] #160 closed, assigned to jorgebodega

[2021-10-12 22:09] jorgebodega commented on #161
I'm pretty sure we should discuss about what node version we support. This is pretty important, since Node 16 is going to be LTS this month, and because target are pretty diferent.

[Node 12 tsconfig recommended](https://github.com/tsconfig/bases/blob/main/bases/node12.json)
[Node 14 tsconfig recommended](https://github.com/tsconfig/bases/blob/main/bases/node14.json)
[Node 16 tsconfig recommended]

[2021-10-12 22:16] jorgebodega opened #164 "Bump typescript version"
From version `^3.8.3` to `^4.4.4`

[2021-10-12 22:32] jorgebodega opened #166 "Bump prettier version"
From `^2.0.4` to `^2.4.1`. Prettier also uses `eslint-config-prettier` to avoid unnecessary checks from eslint, and is updated from `^6.10.1` to `^8.3.0`

[2021-10-12 22:33] jorgebodega opened #167 "Bump @types/node version"

[2021-10-12 22:45] jorgebodega opened #168 "Bump eslint version"
Bumped versions from:

- @typescript-eslint/eslint-plugin
- @typescript-eslint/parser
- eslint
- eslint-plugin-import

[2021-10-13 18:26] jorgebodega opened #171 "Bump glob version"
Updates:

- glob
- @types/glob

[2021-10-13 18:26] jorgebodega opened #172 "Bump jest version"
Updates:

- jest
- ts-jest
- @types/jest

[2021-10-13 18:29] jorgebodega opened #173 "Bump yargs version"
Updates:

- yargs
- @types/yargs

[2021-10-13 18:48] #171 closed, assigned to jorgebodega

[2021-10-13 18:50] jorgebodega opened #175 "Bump chalk version"
Updates:

- chalk

[2021-10-13 19:04] #175 closed, assigned to jorgebodega

[2021-10-13 19:21] jorgebodega opened #177 "Bump sqlite3 version"
Updates:

- sqlite3 (Has a major release, so probably breaking changes)

Removes:

- sqlite

[2021-10-13 19:22] jorgebodega commented on #177
As I can see, `sqlite` is some kind of wrapper, but is not used. Could we remove it? Don't know why is there

[2021-10-16 13:29] #166 closed, assigned to jorgebodega

[2021-10-16 13:29] #164 closed, assigned to jorgebodega

[2021-10-16 13:35] #177 closed, assigned to jorgebodega

[2021-10-16 14:22] #168 closed, assigned to jorgebodega

[2021-10-16 14:23] #159 closed, assigned to jorgebodega

[2021-10-16 14:31] jorgebodega opened #179 "Bump ora version"
Updates:

- ora

[2021-10-16 15:05] #167 closed, assigned to jorgebodega

[2021-10-16 15:18] #172 closed, assigned to jorgebodega

[2021-10-16 15:31] jorgebodega opened #183 "Stick package to actual Node LTS"
Some of the new packages need to be on Node LTS 14.x, so we need to update the engine.

[2021-10-17 00:39] jorgebodega commented on #179
`ora` v6.x is causing lot of troubles. I will reopen this and will work after #183

[2021-10-17 19:22] #183 closed, assigned to jorgebodega

[2021-10-19 17:34] jorgebodega opened #185 "Adapt seeder to an abstract class"
To fix #119 we need to find a way to avoid the problem of export multiple elements but not checking if those are seeder.

A possible approach is to define Seeders as an abstract class instead of an interface. That will allow us to use `instanceof` to infer what could be used as a seeder. Similarly to new [seeder](https://github.com/mikro-orm/mikro-orm/blob/master/packages/seeder/src/seeder.ts) of

[2021-10-19 18:59] jorgebodega opened #186 "Remove times function"
There is a file called `helpers` with a function called `times`. Basically, `times` is a useless function in this context, is a `map` but instead of iterates over an array, iterates n-times.

And because this function is not used anymore on this library, should not be here.

Alternatives:

[code]

[code]

[2021-10-19 21:32] jorgebodega opened #188 "Recheck connection options helper methods"
While checking some issues, like #123 and #114, I found that [we are overriding TypeORM](https://github.com/w3tecch/typeorm-seeding/blob/4565f66bfb0223dae44cfd1cfa56dc3ae1e5341f/src/connection.ts#L51) `getConnectionOptions` and some other methods.

We need to check this deeply, just to be sure that nothing is missused, and try to use original ORM functions as much as we can

[2021-10-19 22:34] micalevisk commented on #185
**+1** to `class MySeeder extends Seeder { ... }` approach.

[2021-10-20 08:04] #186 closed, assigned to jorgebodega

[2021-10-20 20:08] Dmitriyx commented on #161
Can we also bump Faker package please.

typeorm-seeding@^1.6.1:
    faker "4.1.0" ->     **faker "5.5.3"**

[2021-10-20 20:13] jorgebodega opened #189 "Prepare next LTS version of node for developers"
Next week Node 16 will be LTS but 14 will still be supported.

I will prepare the repo to develop using current LTS features but still use 14 for releases

[2021-10-21 14:43] Dmitriyx commented on #161
we also need to upgrade faker dependency

 `yarn check v1.22.10
error "typeorm-seeding#faker" is wrong version: expected "4.1.0", got "5.5.3"
error "nps#spawn-command-with-kill#ps-tree#event-stream" is wrong version: expected "=3.3.4", got "4.0.1"
error Found 2 errors.`

[2021-10-21 15:13] jorgebodega commented on #161
`faker` is already upgraded on `v1.6.2` but is not deployed because we do not have permission to do it. Check #156

[2021-10-28 07:46] iwt-gabrielaoskroba commented on #41
@hirsch88 @jorgebodega I also wonder, is that possible to not use database connection to test `*.seed.ts` or `*.factory.ts` files?
Like those (from example project) https://github.com/copa-ch/copa-backend/tree/master/src/database

[2021-10-28 22:59] artur-dani commented on #93
I have the same problem, pls any workarounds?

[2021-11-15 09:33] GhettoBurger996 opened #192 "Enity metadata not found on running seed"
Hey all,

I'm attempting to seed some test data but whenever I try running the function it returns
`TypeORMError: Entity metadata for FacilityPrice#facility was not found.` the issue is the connection is working fin when I attempt to run any request (query builder). Moreover, I tried deleting the **FacilityPrice#facility** and it ends up returning another error for another reference somewhere, thi

[2021-11-15 10:38] jorgebodega commented on #192
I had this error last week in other project and it was related on how typeorm handle extensions. Could you create some example repo to check this case?

[2021-11-15 11:50] GhettoBurger996 commented on #192
yeah sure while I create the sample repo. How did you deal with the issue on your end ?

[2021-11-15 12:13] jorgebodega commented on #192
I couldn't. https://github.com/typeorm/typeorm/issues/5124

I needed to do a stepback and remove abstract classes. A real pain.

[2021-11-15 12:14] GhettoBurger996 commented on #192
alright, heres the repo https://github.com/GhettoBurger996/typeorrm-seed

[2021-11-15 12:20] jorgebodega commented on #192
Ok, i will check this evening. I'm going to work again on this repo this week

[2021-11-16 17:39] micalevisk commented on #161
will `typeorm-seeding@1.6.2` be published soon? I want to use `faker` v5

[code]

[2021-11-16 18:05] jorgebodega commented on #161
New version cannot be released because of #153.

There is a workaround installing `faker` as a dependency and using it like

[code]

[2021-11-16 18:11] micalevisk commented on #161
oh of course. I felt dumb. Thanks

[2021-11-16 18:23] jorgebodega commented on #161
I know that is not the ideal workaround.

If NPM token is not created when the next version will be ready, I will deploy it myself.

[2021-11-16 19:47] jorgebodega commented on #192
I found that the error in your example repo is just naming. [One of your entities](https://github.com/GhettoBurger996/typeorrm-seed/blob/4e8fd3ab9d32a343deefec5b64a45c8341c2fb5f/apps/entities/facility.entitiy.ts) does not complain required `regexp`, and typeorm could not find that as entity.

Pls check if that is your problem, make sure that every file is well defined.

P.D.: I will close this, it

[2021-11-16 19:47] #192 closed, assigned to nobody

[2021-11-16 20:06] jorgebodega commented on #189
This is close by #190

[2021-11-16 20:06] #189 closed, assigned to jorgebodega

[2021-11-16 20:07] jorgebodega commented on #185
Closed by #191

[2021-11-16 20:07] #185 closed, assigned to jorgebodega

[2021-11-17 23:07] adamwdennis commented on #77
Ok so I figured out how to make this work, just incase anyone tries to hunt this down like I did.

#### `vendor.seed.ts`
[code]

---

#### `MyBaseEntity.abstract.ts`
[code]

#### `Vendor.entity.ts`

[code]

#### `Product.entity.ts`

[code]

#### `product.factory.ts`
[code]
#### `vendor.factory.ts`
[code]

[2021-11-25 16:33] KRTirtho commented on #105
Using Glob-path for dynamically requiring dependencies in Nodejs was & is always a bad thing to do. I don't know why _typeorm_  & related libraries still follows this practice even though it was **strictly forbidden many times**
Instead of using glob-paths, directly providing the dependencies by manually importing them is & should be much more preferred. So replace your entities field like so in t

[2021-11-25 16:46] jorgebodega commented on #105
First of all, this is an open source library, so **please be respectful** and propose your changes into a PR.

I'm disagree with you about glob path, so if you have an article or something talking about this, will be great if you can share with us. But I completely prefer to use glob path to import this kind of files, for some reasons:

1. Allow users to define multiple entities in one line
2. All

[2021-11-25 17:56] KRTirtho commented on #105
First of all,
- Pointing out lacking features of a project/library isn't disrespectful
- It's not important that everyone has enough time & patience to contribute to a project & then point out lackings

Now, the reasons why GlobPath should be avoided for requiring/importing files:
- Nightmare for Typescript/ESM/ESNext based projects since they do support dynamic imports but asynchronously which is

[2021-11-25 18:12] jorgebodega commented on #105
I think the way you said this is disrespectful

And I'm not sure those problems are enough reasons to change how this works. All of them are problems related to *this* library, but for those who use this library are not. Type-safety is working because seeders and entities must fulfill an interface.

Problems related to importing files using glob pattern should raise on applitacion startup and is r

[2021-11-25 18:12] #105 closed

[2021-11-25 21:25] jorgebodega opened #193 "Bump typeorm version"
Updates:
- typeorm (Dev and peer dependencies)

[2021-11-25 21:56] #193 closed, assigned to jorgebodega

[2021-11-25 22:00] #188 closed, assigned to jorgebodega, RaphaelWoude

[2021-11-26 15:56] idemax commented on #93
how did yo get the verbose log?

[2021-11-26 16:11] jorgebodega commented on #93
Sorry, I couldn't check this, but basically we are using TypeORM entity manager to save entity generated by factory.
[code]

If anyone of you could prepare an example in another repo, where creating an entity works, but in factory fails, I could check easily. Anyother problem, pls write it here.

[2021-12-06 21:47] RobertCharron opened #199 "Question: Loading connection information from .ENV instead of ormconfig"
I am wondering if it is possible to run a command that loads the configuration for the connection from a .env file instead of from the ormconfig. This way I can keep it consistent with my NestJS project.

Thanks

[2021-12-06 22:42] jorgebodega commented on #199
Hi! If i'm not wrong, typeorm is able to read all info from environment variables, so if this library cannot, is a problem.

I'm going to release a new version soon and that part is already changed, so please stay tuned.

[2021-12-07 07:27] harshrathod50 commented on #93
The issue is not with TypeORM but Postgres. Use one naming convention for all the columns, either snake-case or camel-case. When using camel-case, remember to use double quotes around the column names at the time of creating the table.

[2021-12-09 05:32] Froctnow opened #200 "Support geometry (posgis)"
Are there plans to add geometry support for factories?
Of course, queries can be made through the builder, but I would like to use factories as well.

[2021-12-09 07:55] #200 closed, assigned to nobody

[2021-12-13 23:46] jorgebodega opened #201 "[Discontinued] Cannot deploy new versions"
Hi!

As some of you may know, I've been working on this library for the last months, trying to solve issues and refactoring, because I use this library every day at my job to seed tests. I've encountered so many problems, and some of the pieces of the code were so old, and I tried to do my best.

But finally there was a problem: @hirsch88 is unavailable and we need the original author to generate

[2022-01-05 15:04] bartosjiri opened #204 "Faker library incident"
Looks like the [Faker.js](https://github.com/marak/Faker.js/) library has been either compromised or discontinued in a strange manner.

I believe it would be the best to replace this library, since it is provided as a parameter into entity factories. What are some suitable alternatives?

[2022-01-05 15:15] jorgebodega commented on #204
Yes, I saw the incident. Quite strange.

In this library, there is no solution, since it cannot be deployed. The only workaround is to use `faker` on version `5.5.3`, the last stable one, as an independent module:

[code]

`faker` could be installed with `npm i faker@5.5.3` since is still available on NPM registries

[2022-01-11 12:00] bartosjiri commented on #204
Closing in favor of #201

[2022-01-11 12:00] #204 closed, assigned to nobody

[2022-01-26 11:00] shakirullah41 opened #205 "seeder should be run once like typeorm migration"
when i run the cammand `npm run seed:run `, it run all the seed file even if it runs already once.

[2022-01-27 03:06] EPecherkin commented on #118
I'm having the same issue. Given the fact that running test in transactions is crucial - the inability to do that makes this library useless in my projects :(
@gaggle did you find a workaround?

[2022-01-31 21:20] gaggle commented on #118
Of a sorts, yes, insofar I rolled our own. No special magic, just some plain NestJS classes to create entities, and because its all vanilla NestJS they behave like everything else and are easy to pull into tests etc.

[2022-01-31 21:36] jorgebodega commented on #118
Humm, could be interesting to implement this, don't know how to start but is definitely something interesting.

[2022-01-31 21:39] jorgebodega commented on #118
I will move the discussion to the maintained repo.

[2022-02-02 19:24] MoreiraJorge commented on #114
Any updates on this issue guys? I'm also trying to seed a in memory DB without having the orm config file, but i have the configuration in the test module, and i have the same error.

[2022-02-03 18:05] kevin-mitchell opened #206 "Swap out Faker for @faker-js/faker"
After the "switcheroo" [that was pulled with Faker](https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/), I imagine that it would be a good idea to switch Faker out for the accepted "official" fork of the original project.

See: https://fakerjs.dev/

My understanding is that the best way to approach this swap would be to wait for the 6.

[2022-02-03 18:21] jorgebodega commented on #206
Hi! I can make this change, but pls take a look on #201

[2022-02-03 18:21] #206 closed, assigned to nobody

[2022-02-09 00:18] jorgebodega commented on #114
Hi! Could you check the fork on #201 if this is working? No new versions could be deployed here.

This part have been refactored, maybe is fixed now.

[2022-02-09 00:20] jorgebodega commented on #161
Closing this, no versions could be deployed

[2022-02-09 00:20] #161 closed, assigned to jorgebodega

[2022-02-09 21:46] altanaka commented on #205
I have the same issue of wanting to control the seed a little more than default run. I cannot seem to find an example of using the " --seed"," -s" argument nor see a list of parameter options and get "Unknown argument: ..." with everything I pass it (class names, file names, globs, indices etc.)

Any help with this issue would be much appreciated. Otherwise, everything seems to be working well.

[2022-02-11 22:44] #179 closed, assigned to jorgebodega

[2022-02-11 22:44] #173 closed, assigned to jorgebodega

[2022-02-11 22:44] #153 closed

[2022-02-16 09:56] cenk1cenk2 opened #208 "Publish the latest version on NPM"
Hey,

Thanks for this very useful library.

I would like to kindly ask you to please publish the latest version v1.6.2 on NPM since it includes fixes for the wrong shebang with #99.

[2022-02-16 11:12] jorgebodega commented on #208
Please take a look on #201

[2022-02-16 11:12] #208 closed, assigned to nobody

[2022-02-16 11:32] cenk1cenk2 commented on #208
Hey sincerly sorry for missing that issue. Thanks for zhe information.

[2022-02-16 12:47] jorgebodega commented on #208
No worries, if you are gonna use the other version, please open your issues on the corresponding repository

[2022-02-21 10:28] DanielRamosAcosta commented on #201
ping @hirsch88

[2022-02-22 18:22] xinghul commented on #201
hello @jorgebodega, just to clarify, are you planning on swapping out `Faker` and replacing it with `@faker-js/faker`?

[2022-02-22 21:28] jorgebodega commented on #201
No plans right now, at least here withot deploy permission. Please check #204

[2022-02-25 04:07] matiasgarcia opened #209 "Deeply saving factory"
I have the following factories:

question.factory.ts
[code]

answer.factory.ts
[code]

user.factory.ts
[code]

And also I have a seed:
[code]

When I run this, only the Questions records are stored, the Answers and User are ignored.

How can I persist them?

[2022-02-25 09:28] jorgebodega commented on #209
This is related on how the related entities are being processed:

[code]

[code]

In your definition, `Question` is using `makeMany` to create `Answers[]`, that uses the first code snippet, not the second one, and `make` operations does not persist info in database. And then, in `Answer` definition, a `User` is created using the second code snippet, but in this case, coming from `makeMany` operati

[2022-02-25 12:30] matiasgarcia commented on #209
@jorgebodega Thanks for taking your time to answer.

I am wondering if there is any way to force the persistence of the Entity and its relations at the moment of running the seed and not before. I am trying to avoid forcing my factories to introduce side effects in the database until its strictly necessary (this is, replacing the make() calls with create()). Also I dont want to modify the Entity s

[2022-02-25 12:46] jorgebodega commented on #209
I'm not understanding your problem, could you try to explain with code?

[2022-02-25 13:21] matiasgarcia commented on #209
@jorgebodega Let's assume that I don't change the factories. I want them to NOT store values in the database. Just build the entities and its associations, nothing else.

However, in the seed, I would like to call my factory and tell it "save the entity and all its related records".

[code]

I would like to avoid adding `cascade: true` to the Entity, because that's a global side-effect I would lik

[2022-02-25 13:22] matiasgarcia commented on #209
I come from a Rails background, heavily using this factory gem called [FactoryBot](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md) so maybe this is not possible in TypeORM nor with this lib.

[2022-02-28 19:09] codeninja opened #210 "Update Faker to pull from the new @faker-js/faker repository."
The FakerJS repository was poisoned by the original developer and has been moved to a new fork. Faker should be changed to pull from : **https://github.com/faker-js/faker**

[2022-03-01 16:02] harm-less commented on #210
I wanted the exact same thing. Luckily I figured someone had made a fork that included these changes and there was: https://github.com/zackarychapple/typeorm-seeding

You just need to replace your `typeorm-seeding` package with this one.
We have a big repo and every test has past using this fork.

I can't thank you through a comment/issue at your repo @zackarychapple, so thanks for the effort, you

[2022-03-02 09:58] jorgebodega commented on #209
Hi, sorry about the delay, let me check this in the next few days and if is already fixed on the forked package

[2022-03-02 10:01] jorgebodega commented on #210
Hi! There is a pinned issue commenting the problem, no new versions could be deployed (#201) so is completely nosense to do that fix.

I forked the library after being working on it, but you can use the one you prefer.

[2022-03-02 10:01] #210 closed, assigned to nobody

[2022-03-02 13:16] harm-less commented on #210
@jorgebodega I tried your fork but I only wanted an update of Faker as otherwise we needed to rewrite a lot of code due to the various API changes. Hence my suggestion in my previous comment.

Is there a published version from your lib with this requirement?

[2022-03-02 14:39] matiasgarcia commented on #209
@jorgebodega no worries.

Just to clarify, in my codebase I temporarily replaced

[code]

with

[code]

But I think it would be ideal that rather than doing that, I can just do

[code]

And that somehow "hacks" TypeORM to store the associations first rather than being forced to add `cascade: true` to the Entity.

As mentioned, I am taking inspiration on https://github.com/thoughtbot/factory_bot th

[2022-03-03 14:02] jorgebodega commented on #210
I don't think there is a version with just that change, following version 2 there are many breaking changes.

But you can still install the package from your side and use it, instead of the one of the library

[2022-03-04 09:40] mrhitman opened #211 "update major faker version please"
In typeorm-seeding are using faker@4.1.0, but it already have major updates, and some methods marked as depricated, some not exist in 4.1.0. Could you update major version of faker please

[2022-03-04 11:23] jorgebodega commented on #211
Hello! Please take a look on #201.

[2022-03-04 11:23] #211 closed, assigned to nobody

[2022-03-06 11:05] Dzivo opened #212 "Faker npm package not supported"
Faker is no longer available you should consider migrating to

[Fake-js](https://github.com/faker-js/faker)

[2022-03-06 19:03] jorgebodega commented on #212
Please, check the existent issues prior reporting another one.

https://github.com/w3tecch/typeorm-seeding/issues?q=label%3Afaker+sort%3Aupdated-desc+is%3Aclosed

[2022-03-06 19:03] #212 closed, assigned to nobody

[2022-03-10 07:30] hirsch88 commented on #158
@jorgebodega just added you at npm as a maintainer. hope thats is what you need? Sorry for my delay

[2022-03-10 07:32] hirsch88 commented on #201
hi @jorgebodega just added you as a npm maintainer hope that helps with the releasing.

[2022-03-10 09:20] jorgebodega commented on #158
Hi! Welcome back @hirsch88!

To be a maintainer at NPM is one of the steps, but I also need to be maintainer here to set some env variables, or maybe you can set it.

Also will be great if you can check on the work I've doing on the fork at https://github.com/jorgebodega/typeorm-seeding, trying to improve factories, some bugs... Do you think we can take those changes?

[2022-03-17 18:40] jhonyjss commented on #205
Guys,

Use npm run typeorm-seeding -- seed -s CreateUsers or with Yarn yarn typeorm-seeding seed -s CreateUser

[2022-03-23 10:22] iamannani opened #213 "Faker got abandoned and NPM audit complains about it"
With the abandoned project of faker, npm audit complains about colors.js that faker.js is using.

Link to the vulnerability : https://github.com/advisories/GHSA-5w9c-rv96-fr7g

there is a forked faker to replace the old one with the new faker : https://www.npmjs.com/package/@faker-js/faker

thanks

[2022-03-23 10:41] jorgebodega commented on #213
Please, check the existent issues prior reporting another one.

[w3tecch/typeorm-seeding/issues (label:faker sort:updated-desc is:closed)](https://github.com/w3tecch/typeorm-seeding/issues?q=label%3Afaker+sort%3Aupdated-desc+is%3Aclosed)

[2022-03-23 10:41] #213 closed, assigned to nobody

[2022-03-23 12:04] m3h0w commented on #81
That sounds like people who use absolute imports have never ran their code in production.

Is there any way to make typeorm-seeding work with absolute paths?

[2022-03-25 11:06] nicolasrouanne commented on #201
@jorgebodega @hirsch88 where do we go from here?
Does this becomes the official repository back again? While merging something like 225 commits from https://github.com/jorgebodega/typeorm-seeding into https://github.com/w3tecch/typeorm-seeding

I guess it would probably be the preferred option from the community, since this original project still has 40 times the amount of download of the fork 🙏🏻

[2022-03-28 10:32] andi-faizal94 opened #214 "TypeError: Cannot read properties of undefined(reading 'number')"
#edited

I have entity:

![Screen Shot 2022-03-28 at 17 54 28](https://user-images.githubusercontent.com/75654156/160383507-d2deb005-4823-4e7b-bfc7-28c432e1bc90.png)

user.factory.ts

![Screen Shot 2022-03-27 at 22 26 55](https://user-images.githubusercontent.com/75654156/160378825-2bed67fd-6b5c-4953-88dd-9a3f16ee6002.png)

I have problem with file user.factory.ts:

const gender = faker.random.num

[2022-03-28 11:20] jorgebodega commented on #214
Hi! Can you just put some more explicit example, or maybe create a repo to reproduce this? Just because you talked about gender but I cannot see that on entity

[2022-03-28 11:31] andi-faizal94 commented on #214
Hi
I'm sorry about it:

my case in Entity:
import { Entity, PrimaryGeneratedColumn, Column, BaseEntity } from "typeorm";

@Entity()
export class User extends BaseEntity {
  @PrimaryGeneratedColumn()
  id: number;

  @Column()
  firstName: string;

  @Column()
  lastName: string;

  @Column()
  age: number;

  @Column({ nullable: true })
  addres: string;
}

And I have a file user.factory.ts :

imp

[2022-04-06 09:27] fossamagna opened #215 "Support TypeORM@v0.3.x"
Hi. Thank you for making a great package.
I would like to use typeorm-seeding with TypeORM@0.3.x.
I can not use latest version of typeorm-seeding with TypeORM@0.3.x., because of TypeORM@0.3.0 has many changes.

[2022-04-10 14:47] virusxd521 opened #218 "how to truncate tables?"
is there a way to truncate the tables?  I want to keep the same amount of records in my tables on many seeding executions.
I went through the docs and couldn't find any thing related to truncating...

Thanks in advanced

[2022-04-11 05:13] acSpock commented on #201
@jorgebodega I agree with @nicolasrouanne, any plans to merge the forked repo back into w3tecch now that you're a maintainer? I imagine you could merge it back and cut a major release and go from there. Would like to know going forward as upgrading to the latest typeorm breaks the current version of w3tecch/typeorm-seeding.

[2022-04-11 21:49] nrctkno commented on #53
In addition to the path in ormconfig, check if your entities were imported in your module.

[2022-04-14 12:07] richoandika commented on #214
I got same problem after running the seed
`TypeError: Cannot read properties of undefined (reading 'name')`

[2022-04-14 12:29] richoandika commented on #214
My bad, solved by clean the cache and adding `./` in module path

[2022-04-14 12:33] richoandika commented on #214
@andi-faizal94 Hi,
I think there's your problem bro
![image](https://user-images.githubusercontent.com/24300318/163391069-bfaa7237-9799-4330-bcb7-014c65ade1b3.png)
just adding `./` into module path like `import { UserEntity } from './../entities/user.entity'`

[2022-04-14 12:34] richoandika commented on #214
@andi-faizal94 Hi,
I think there's your problem bro
![image](https://user-images.githubusercontent.com/24300318/163391069-bfaa7237-9799-4330-bcb7-014c65ade1b3.png)
just adding `./` into module path like `import { UserEntity } from './../entities/user.entity'`

[2022-04-14 12:35] richoandika commented on #214
@andi-faizal94 Hi,
I think there's your problem bro
![image](https://user-images.githubusercontent.com/24300318/163391069-bfaa7237-9799-4330-bcb7-014c65ade1b3.png)
just adding `./` into path of module like `import { UserEntity } from './../entities/user.entity'`

[2022-04-17 15:15] Jedliu commented on #215
Same here. Thank you!

[2022-04-17 22:38] Jedliu commented on #201
Agree. It's hard to notice this difference until finding this issue. Better to make a decision and put it in the README to avoid confusion. Thank you for your hard work and looking forward to the new version update to accommodate Typeform 0.3.*

[2022-04-18 16:02] jorgebodega commented on #201
Sorry @acSpock, please see https://github.com/jorgebodega/typeorm-seeding/issues/129#issuecomment-1101522888

Also @Jedliu, that is a good idea.

[2022-04-18 16:05] jorgebodega commented on #218
Hi, truncating tables are, for me, completely out of scope of this package. TypeORM support raw sql queries, maybe that is the way

[2022-04-18 16:05] #218 closed, assigned to nobody

[2022-04-18 16:07] jorgebodega commented on #215
Hi! I've working on my fork with typeorm 0.3.x, and there are many breaking changes.

Will take some time to do that change

https://github.com/jorgebodega/typeorm-seeding/pull/122

[2022-04-18 16:07] #215 closed, assigned to nobody

[2022-04-26 08:27] kingsloob1 commented on #154
# # # #

[2022-04-28 05:47] svinayiw opened #220 "There is a typo for the shebang in the dist/cli.js"
![image](https://user-images.githubusercontent.com/64797130/165685220-16f1d630-bc37-45b0-ba6a-5cbb60fcd95b.png)

The build has a typo in the npm registry. The shebang should be `#!/usr/bin/env node`

[2022-05-24 23:31] darrenbarklie opened #223 "Example for how to seed ManyToMany relation"
Hi there,

As per [the issue detailed](https://stackoverflow.com/questions/68243189/seeding-how-to-link-a-created-entity-to-another) here, I'm looking for guidance on how to approach seeding ManyToMany relationships.

In my case, multiple Users can own multiple Companies.

I am aiming to see specific scenarios between User/Company ownership for testing, but couldn't find an appropriate example to

[2022-05-24 23:34] darrenbarklie commented on #223
Probably a duplicate of [139](https://github.com/w3tecch/typeorm-seeding/issues/139)

[2022-06-06 06:26] RaiMX opened #224 "[Request] Support for typeorm 0.3 and nestjs/typeorm v8.1.0"
Can you please add support for TypeORM v0.3 and above and nestjs/typeorm v8.1.0 and above?

[2022-06-06 09:51] svJariwala commented on #81
hello guys

When I do seed:run in my NestJS app I get the following error:

![image](https://user-images.githubusercontent.com/103307358/172137214-b3dfccd0-ab4f-4fb8-8ef3-738548865101.png)

This is my seed:config:

![image](https://user-images.githubusercontent.com/103307358/172137399-b03f0bfa-0c18-45af-8b65-2f231195231e.png)

This is my database.config.ts file

![image](https://user-images.github

[2022-06-06 09:56] svJariwala opened #225 "Database connection failed! Check your typeORM config file. MissingDriverError: Wrong driver: "undefined" given."
hello guys

When I do seed:run in my NestJS app I get the following error:

![image](https://user-images.githubusercontent.com/103307358/172137214-b3dfccd0-ab4f-4fb8-8ef3-738548865101.png)

This is my seed:config:

![image](https://user-images.githubusercontent.com/103307358/172137399-b03f0bfa-0c18-45af-8b65-2f231195231e.png)

This is my database.config.ts file

![image](https://user-images.github

[2022-06-18 18:47] mirzasetiyono opened #227 "this.subQuery is not a function"
i try to a insert a simple row using createQueryBuilder

`
        await connection.createQueryBuilder()
            .insert()
            .into(User)
            .values(
                [
                    {
                        wallet_account_public_key: "stringstring",
                        name: "stringstring",
                        joined_date: newEpoch(),
                        ro

[2022-06-20 11:08] smartcrash commented on #225
Hi [svJariwala](https://github.com/svJariwala)!

Do you have a `ormconfig.json` file on you project's root folder?
I think the problem is that `typeorm-seeding` is trying to read that file and never found it, that's why it tells you that "Wrong driver: undefined given".

Here is an example of how your `ormconfig.json should look like:
`
[code]

Here is the [TypeOrm's confi file docs](https://orkha

[2022-06-25 19:46] mehedi-iitdu opened #228 "[Request] Support for typeorm 0.3 and nestjs/typeorm v8.1.0"
Can you please add support for TypeORM v0.3 and above and nestjs/typeorm v8.1.0 and above?

[2022-06-30 07:53] exipnus commented on #199
Any news on this?

[2022-07-06 22:06] Hyra10 commented on #228
I tried upgrading Typeorm to 0.3.7
and typeorm-seeding threw an error saying
[code]

I guess this has something to do when upgrading to 0.3

[2022-07-07 16:03] MrMaz commented on #228
My company has created a fork that is a combination of this project and v3.2.0 on the Jorge Bodega fork. We decided to go in a different direction with the API and how to do TypeORM 0.3 support.

This is not a drop in replacement, but if you need TypeORM v0.3 support you can start using it immediately with some small changes.

https://github.com/conceptadev/typeorm-seeding

[2022-07-07 16:07] jorgebodega commented on #228
Oh, nice!

What are the differences? I'm still working on supporting 0.3 but I'm a bit stuck. Would be great to have some new ideas.

Also, @mehedi-iitdu as you can see on #201 I cannot automate deploy of versions, and I don't have time for taking care of this library and manually deploy new versions.

[2022-07-07 16:31] MrMaz commented on #228
@jorgebodega your idea with the factorized attributes for version 4 is really cool and i tried to make it work, but for our case is a bit too difficult to debug unit tests, and also would require too much refactoring on our projects. we are addicted to the `map` i guessing, lol.

we are instead creating an "overrides api" for entity customization and sub-factories at run time. having factories and

[2022-07-07 16:35] jorgebodega commented on #228
The most painful part of upgrading TypeORM is the connection refactor, that is true, and I really don't like how the Seeder actually work, like a tree, so I'm really open to any idea on how to improve that.

[2022-07-07 16:42] MrMaz commented on #228
@jorgebodega i like the tree, but not that we are forced to have one root. i am going to make a change on our fork where it runs all seeders in order by default, unless you supply one or more root seeders, it will run those each like a tree.

[2022-07-07 17:47] jorgebodega commented on #228
My idea for the next version is just to remove the tree and run all the seeders in order, letting the users to choose the order with `01-Seeder` or `01Seeder` or something like.

This is just I don't like the idea of run seeders as a side effect of running others, and how that could affect to testing and execution.

Do you use the seeder with some root as entry? Every feedback is welcome

[2022-07-08 10:45] ludgerey opened #229 "Replace `faker` with `@faker-js/faker`"
The original faker.js is abandoned for a few month now:

... and the community moved to the repository https://github.com/faker-js/faker with its website at https://fakerjs.dev

We should migrate this project to use `@faker-js/faker`, otherwise users have to use the abandoned package, which is not nice.

[2022-07-08 11:16] jorgebodega commented on #229
Please, check the existent issues prior reporting another one.

[w3tecch/typeorm-seeding/issues (label:faker sort:updated-desc is:closed)](https://github.com/w3tecch/typeorm-seeding/issues?q=label%3Afaker+sort%3Aupdated-desc+is%3Aclosed)

[2022-07-08 11:16] #229 closed, assigned to nobody

[2022-07-08 11:22] ludgerey commented on #229
Sorry! I was looking for open issues only, as it appears not to be solved, right?

[2022-07-10 17:18] DaggerJackfast commented on #228
Hello everyone, has any updates on the issue?

[2022-07-21 09:41] godtaehee opened #232 "Hello. I just have a question"
Hello, I have a question.

Recently, I study so much amount of open source.

In "35be61a598" commit(almost initial commit in this project), there are some file which I can't fully understand it.

But Readme say proper Usage to User who use this project(typeorm-seeding).

But I don't understand that how can achieve it although There are not proper files which execute some action in Usage.

In this

[2022-08-03 09:01] marcosfreitas commented on #11
Guys, why is the peerDependency an old version of the TypeORM?

I'm getting this warning: `warning " > typeorm-seeding@1.6.1" has incorrect peer dependency "typeorm@^0.2.24".`

TypeORM version used: `^0.3.7`
TypeORM Seeding version used: `^1.6.1`

[2022-08-03 15:57] BrothersWar commented on #65
I didnt read this thread carefully and spend so much time with this error. @DiogoBatista said right: if u have `TYPEORM_CONNECTION` or `TYPEORM_URL` in your .env file then `.ormconfig` will be ignored. Just delete `TYPEORM_CONNECTION` and `TYPEORM_URL` from .env and everything will work fine

[2022-08-05 09:10] marcosfreitas commented on #225
I was facing this same problem. I solved this by importing the datasource.ts configurations at the ormconfig.ts.

[code]

datasource.ts has all the connection options, and for me, it is used at the command line to inform which file is the datasource file:

package.json script:
`"typeorm": "typeorm-ts-node-commonjs -d ./datasource.ts",`

[2022-08-08 12:07] alfiadoconstantino opened #233 "TypeError: Cannot read properties of undefined (reading 'name')"
hello, I'm having this error when running the seeds.

my ormconfig.json
`{
  "name": "default",
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "****",
  "password": "***",
  "database": "****",
  "entities": [
    "./src/modules/**/infra/typeorm/entities/*.ts"
  ],
  "migrations": [
    "./src/shared/infra/typeorm/migrations/*.ts"
  ],
  "seeds": ["src/shared/infra/type

[2022-08-08 13:46] #233 closed, assigned to nobody

[2022-08-09 22:25] JoaquinPiersigilli commented on #96
Same error here, I have my seeds in another directory outside `src` and even though I changed the ormconfig accordingly and "✔ Seeders are imported" appears, it doesn't actually find anything, but when I change to the default route it works...

The error happen when trying to execute a single Seed by class name

[2022-08-18 17:14] jorgebodega commented on #232
Hello!

I think i'm not fully understanding what you are asking for, but I suppose that you are talking about using different versions.

When you're using a library, you should read the documentation of the version you're using. Developer is responsible of the documentation, and to keep it updated. So if you're using the version of that commit, you should attach to that README.

Is that the questi

[2022-08-18 17:18] jorgebodega commented on #228
No plans to work on this since I can work on this but cannot deploy.

If you can wait until someone came back to work or give me access, it's ok. But I released every change I did on another library, [@jorgebodega/typeorm-seeding](https://github.com/jorgebodega/typeorm-seeding)

[2022-08-18 17:21] jorgebodega commented on #220
Fixed on `1.6.2`

[2022-08-18 17:21] #220 closed, assigned to nobody

[2022-09-11 12:32] alirezaKhaki commented on #71
thanks, that will correct the issue!

[2022-09-15 18:30] dbpolito commented on #228
@jorgebodega looking at this comment https://github.com/w3tecch/typeorm-seeding/issues/201#issuecomment-1063746656 it seems you now have maintenance over the npm repo...

is there anything else blocking you that someone can assist? Or really depends on the author?

[2022-09-15 18:37] jorgebodega commented on #228
I don't have permissions to add secrets to github, so I cannot add the deploy system I've worked on my fork, and I won't do it manually.

So until I have admin access, I won't work on this. If you need recent support, try to work with the latest version of my fork.

[2022-09-20 07:04] alirezaKhaki opened #234 "prevent seed:config to log any output"
hi!
how can I stop **seed:config** command to output **ormconfig.json** file in terminal?
I don't want my **database username & password** to be logged.

[code]

[2022-09-23 16:41] shadowgroundz commented on #225
Where you place ormconfig.ts or datasource? And can you share your package.json script? Thank you

[2022-09-23 16:41] shadowgroundz commented on #225
Where you place ormconfig.ts or datasource? And can you share your package.json script? Thank you

[2022-09-23 16:42] shadowgroundz commented on #225
Where you place ormconfig.ts or datasource? And can you share your package.json script for seeding? Thank you

[2022-09-24 00:48] marcosfreitas commented on #225
Hi, @shadowgroundz.

I placed my ormconfig.ts at the project root with the other files below.
PS.: I was wondering if something could be improved in this configuration declarations but I haven't much time to test other options.

- /datasource.ts

[code]

- /ormconfig.ts

[code]

- /ormconfig-nest.ts

[code]
I have added these 3 scripts to my package.json:

[code]

If I could be useful, here is my

[2022-09-26 18:18] sergiuchilat commented on #228
Hi.
Also have this problem.
When running config, everything is ok.
But when run seeding I got an error ``MissingDriverError: Wrong driver: "undefined" given.``

[2022-10-04 07:32] tada5hi commented on #228
You can also give https://github.com/tada5hi/typeorm-extension a try. Recently i added seeding support, which is highly inspired by this library and the usage should be the same like before.

@jorgebodega the library could also be interesting for you, to use the singleton state management for your reimplementation https://www.npmjs.com/package/typeorm-extension#instances

[2022-10-04 07:34] tada5hi commented on #224
#228

[2022-10-15 16:04] #224 closed, assigned to nobody

[2022-10-25 11:34] aphofstede commented on #53
For posterity: If you're using e.g. entities/index.ts to list your entities, make sure it is being exported there.

[2022-11-18 07:37] Sotatek-PhuongNguyen4 opened #236 "How to seed data with monorepo workspace in nestjs"
I use monorepo to build the applications. I've some apps and libs

My code folder is below. How to write typeorm config file in my case for seeding data.

![image](https://user-images.githubusercontent.com/91860823/202646886-6756ce0a-65b7-4b7a-8c27-02388127ecac.png)

**ormconfig.ts**
![image](https://user-images.githubusercontent.com/91860823/202648475-227c2f68-7324-4e37-91d5-ac907f4c1396.png)

**

[2022-11-21 03:53] divmgl commented on #201
What's going on with this package? @jorgebodega and @hirsch88, have you come to an agreement on a path forward with this package? It looks like the last mention of a block in communication was here, back in April: https://github.com/jorgebodega/typeorm-seeding/issues/129#issuecomment-1101522888

@hirsch88 I see that you're active on GitHub. Can we all coordinate to get these packages merged into o

[2022-11-21 04:01] divmgl commented on #201
@jorgebodega and @hirsch88 I see you're both active on GitHub. Can we coordinate to get https://github.com/jorgebodega/typeorm-seeding merged into this package (or a new plan for this package moving forward)? I'd be happy to jump on a Discord call if needed, thanks.